/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.0
 * 
 * WooCommerce RTL Rules
 * Created by CMSMasters
 * 
 */
 
#page .cmsmasters_theme_icon_basket:before {
	content: '\e839'; /* Check this rule! */
}

.cmsmasters_theme_icon_star_empty:before {
	content: '\e8aa'; /* Check this rule! */
}

.cmsmasters_theme_icon_star_full:before {
	content: '\e8aa'; /* Check this rule! */
}

.woocommerce:after {
	content: '.'; /* Check this rule! */
}

.product .preloader img {
	left: auto;
	right: 0;
}

.cmsmasters_star_rating .cmsmasters_star {
	float: right;
}

.cmsmasters_star_rating .cmsmasters_star:before {
	left: 0;
	right: 0;
}

.cmsmasters_star_rating .cmsmasters_star_color_wrap {
	left: auto;
	right: 0;
}

.comment-form-rating .stars {
	margin-left: 0;
	margin-right: 10px;
}

.comment-form-rating .stars > span:before,
.comment-form-rating .stars > span a:before {
	text-align: center;
	left: auto;
	right: 0;
}

.comment-form-rating .stars > span:before {
	content: '\e8aa\e8aa\e8aa\e8aa\e8aa'; /* Check this rule! */
}

.comment-form-rating .stars > span a:before {
	content: '\e8aa\e8aa\e8aa\e8aa\e8aa'; /* Check this rule! */
}

.comment-form-rating .stars > span a {
	left: auto;
	right: 0;
}

label > .input-checkbox,
label > .input-radio,
label > input.shipping_method {
	float: none;
	left: auto;
	right: auto;
}

.input-checkbox,
.input-radio,
input.shipping_method {
	float: right;
	left: auto;
	right: 0;
}

.input-checkbox + label,
.input-radio + label,
input.shipping_method + label {
	padding-left: 0;
	padding-right: 25px;
}

.input-checkbox + label:before,
.input-radio + label:before,
input.shipping_method + label:before {
	left: auto;
	right: 1px;
}

.input-checkbox + label:after,
.input-radio + label:after,
input.shipping_method + label:after {
	left: auto;
	right: 5px;
}

.woocommerce-column__title {
	text-align: center;
}

.woocommerce-customer-details h2 {
	text-align: center;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
	text-align: right;
}

.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
	margin-left: 30px;
}

.woocommerce-notice {
	text-align: center;
}

.woocommerce-info {
	text-align: right;
}

table.variations .reset_variations {
	margin-left: 0;
	margin-right: 10px;
}

.single_variation_wrap .single_variation .stock {
	margin-left: 0;
	margin-right: 10px;
}

dl.variation:after {
	content: '.'; /* Check this rule! */
}

dl.variation dt {
	padding-left: 10px;
	padding-right: 0;
	float: right;
}

dl.variation dd {
	float: right;
}

.col2-set > * {
	float: right;
}

.form-row {
	float: right;
}

.form-row:after {
	content: '.'; /* Check this rule! */
}

.form-row.form-row-wide,
.form-row.notes,
.form-row.place-order {
	float: none;
}

#page .remove {
	text-align: center;
}

.cmsmasters_woo_wrap_result .woocommerce-result-count {
	float: left;
}

.cmsmasters_woo_wrap_result .woocommerce-ordering {
	float: right;
}

.cmsmasters_products .product {
	float: right;
}

.cmsmasters_product > * {
	text-align: center;
}

.cmsmasters_product .cmsmasters_product_add_wrap {
	left: auto;
	right: 0;
	text-align: center;
}

.cmsmasters_product .button.loading:before {
	content: '\e9fd'; /* Check this rule! */
	text-align: center;
	left: 0;
	right: 0;
}

.cmsmasters_product .cmsmasters_product_cat {
	text-align: center;
}

.cmsmasters_product .cmsmasters_product_info {
	text-align: center;
}

.cmsmasters_product .price del {
	margin-left: 5px;
	margin-right: 0;
}

.cmsmasters_single_product .onsale,
.cmsmasters_single_product .out-of-stock {
	left: auto;
	right: 10px;
}

.cmsmasters_single_product .cmsmasters_product_left_column {
	float: right;
}

.cmsmasters_single_product .cmsmasters_product_image {
	text-align: center;
}

.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
	margin-left: 10px;
	margin-right: 0;
	text-align: center;
	float: right;
}

.cmsmasters_single_product .cmsmasters_product_right_column {
	padding-left: 0;
	padding-right: 65px;
	float: left;
}

.cmsmasters_single_product .price del {
	margin-left: 0;
	margin-right: 15px;
}

.cmsmasters_single_product .product_meta .tagged_as a:before {
	content: '#'; /* Check this rule! */
}

.cmsmasters_single_product .cart .single_add_to_cart_button {
	margin-left: 0;
	margin-right: 13px;
}

.shop_attributes th {
	padding-left: 10px;
	padding-right: 0;
}

.cmsmasters_woo_comments .cmsmasters_star_rating {
	margin-left: 0;
	margin-right: 10px;
	float: left;
}

section.products .cmsmasters_product_title_wrapper {
	text-align: center;
}

section.products .cmsmasters_product_title_wrapper:before {
	left: 0;
	right: 0;
}

.shop_table th,
.shop_table td {
	text-align: right;
}

.shop_table .product-remove {
	padding-left: 10px;
	padding-right: 20px;
}

.shop_table .product-thumbnail {
	padding-left: 20px;
	padding-right: 0;
}

.shop_table .product-quantity input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
	padding-left: 10px;
	padding-right: 15px;
}

.shop_table .actions {
	text-align: left;
}

.shop_table .actions input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
	padding-left: 10px;
	padding-right: 15px;
}

.shop_table .actions .coupon {
	float: right;
}

.shop_table .actions .coupon input[type=submit] {
	margin-left: 0;
	margin-right: -3px;
}

.cart_totals table th,
.cart_totals table td {
	text-align: right;
}

.cart_totals table td {
	text-align: left;
}

.cart_totals table input[type="checkbox"],
.cart_totals table input[type="radio"] {
	left: 0;
	right: auto;
	float: left;
}

.cart_totals table input[type="checkbox"] + label,
.cart_totals table input[type="radio"] + label {
	padding-left: 25px;
	padding-right: 0;
	float: left;
}

.cart_totals table input[type="checkbox"] + label:before,
.cart_totals table input[type="radio"] + label:before {
	left: 0;
	right: auto;
}

.cart_totals table input[type="checkbox"] + label:after {
	left: 3px;
	right: auto;
}

.cart_totals table input[type="radio"] + label:after {
	left: 4px;
	right: auto;
}

.woocommerce-MyAccount-navigation ul {
	text-align: right;
}

.woocommerce-MyAccount-navigation ul > li {
	margin-left: 35px;
	margin-right: 0;
}

.woocommerce-MyAccount-content .shop_table th,
.woocommerce-MyAccount-content .shop_table td {
	text-align: center;
}

#order_review_heading {
	text-align: center;
}

.woocommerce-order-details__title {
	text-align: center;
}

body .select2-container .select2-selection--single {
	padding-left: 40px;
	padding-right: 20px;
	background-image: url('../../../../img/select.png'); /* Check this rule and write correct image url, or remove this rule! */
	background-position: NaN% center; /* Check this rule! */
}

body .select2-dropdown .select2-results .select2-results__option {
	padding-left: 6px;
	padding-right: 20px;
}

body .select2-dropdown .select2-results .select2-results__option:first-child {
	padding-left: 6px;
	padding-right: 20px;
}

.woocommerce-additional-fields:after,
.woocommerce-billing-fields:after,
.woocommerce-shipping-fields:after {
	content: '.'; /* Check this rule! */
}

.woocommerce-additional-fields > h3,
.woocommerce-billing-fields > h3,
.woocommerce-shipping-fields > h3 {
	text-align: center;
}

.woocommerce-checkout-payment .payment_methods label {
	float: none;
}

.woocommerce-checkout-payment .payment_methods .payment_box {
	padding-left: 0;
	padding-right: 32px;
}

.woocommerce-checkout-payment .payment_methods .input-checkbox + label,
.woocommerce-checkout-payment .payment_methods .input-radio + label,
.woocommerce-checkout-payment .payment_methods input.shipping_method + label {
	padding-left: 0;
	padding-right: 32px;
}

.woocommerce-checkout-payment .place-order > * {
	float: none;
}

.woocommerce-checkout-payment .place-order .terms label {
	padding-left: 0;
	padding-right: 2px;
}

.woocommerce-checkout-payment .place-order .terms .input-checkbox {
	margin-left: 7px;
	margin-right: 0;
}

ul.order_details li {
	text-align: center;
}

ul.order_details li:first-child strong {
	border-right-width: 1px;
	border-right-style: solid;
}

ul.order_details li:last-child strong {
	border-left-width: 1px;
	border-left-style: solid;
}

.cmsmasters_dynamic_cart_link_wrap {
	margin-left: 0;
	margin-right: 18px;
	float: left;
}

.cmsmasters_dynamic_cart_wrap {
	margin-left: 0;
	margin-right: 18px;
	float: left;
}

#page .cmsmasters_dynamic_cart .remove {
	left: 0;
	right: auto;
}

.cmsmasters_dynamic_cart .widget_shopping_cart_content {
	padding-left: 15px;
	padding-right: 30px;
	left: 0;
	right: auto;
}

.cmsmasters_dynamic_cart .widget_shopping_cart_content:before {
	left: auto;
	right: 0;
}

.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li {
	padding-left: 35px;
	padding-right: 95px;
}

.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list img {
	left: auto;
	right: 0;
}

.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons .button {
	float: right;
}

.cmsmasters_added_product_info {
	left: 0;
	right: auto;
}

.cmsmasters_added_product_info .cmsmasters_added_product_info_img {
	float: right;
}

.cmsmasters_added_product_info .cmsmasters_added_product_info_text {
	padding-left: 0;
	padding-right: 20px;
}

.widget_layered_nav ul ul,
.widget_rating_filter ul ul,
.widget_layered_nav_filters ul ul,
.widget_product_categories ul ul {
	padding-left: 0;
	padding-right: 10px;
}

.widget > .product_list_widget li {
	padding-left: 5px;
	padding-right: 95px;
}

.widget > .product_list_widget img {
	left: auto;
	right: 0;
}

.widget > .product_list_widget del {
	margin-left: 3px;
	margin-right: 0;
}

#page .widget_shopping_cart .remove {
	left: 0;
	right: auto;
}

.widget_shopping_cart .cart_list li {
	padding-left: 35px;
	padding-right: 95px;
}

.widget_shopping_cart .cart_list img {
	left: auto;
	right: 0;
}

.widget_shopping_cart .buttons .button {
	float: right;
}

.widget_price_filter .ui-slider-handle {
	left: auto;
	right: 0;
}

.widget_price_filter .ui-slider-handle:last-child {
	left: auto;
	right: 100%;
	margin-left: 0;
	margin-right: -11px;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .price_slider_amount .price_label {
	padding-left: 10px;
	padding-right: 0;
}

.widget_product_tag_cloud a {
	margin-left: 4px;
	margin-right: 0;
}

.cmsmasters_products_shortcode .cmsmasters_products .product,
.cmsmasters_selected_products_shortcode .cmsmasters_products .product {
	float: right;
}

.cmsmasters_products_shortcode .columns-1 .cmsmasters_products .product,
.cmsmasters_selected_products_shortcode .columns-1 .cmsmasters_products .product {
	float: none;
}

.create-account .input-radio + label,
.create-account .input-checkbox + label {
	padding-left: 0;
	padding-right: 25px;
}

#customer_login h2 {
	text-align: center;
}

.login:after,
.register:after {
	content: '.'; /* Check this rule! */
}

.login label.inline,
.register label.inline {
	margin-left: 0;
	margin-right: 10px;
}

.track_order:after {
	content: '.'; /* Check this rule! */
}

@media only screen and (max-width: 768px) {
	.col2-set > * {
		float: none;
	}

	.cmsmasters_single_product .cmsmasters_product_left_column {
		float: none;
	}

	.cmsmasters_single_product .cmsmasters_product_right_column {
		float: none;
	}

	.cmsmasters_single_product .cmsmasters_product_right_column .product_meta,
	  .cmsmasters_single_product .cmsmasters_product_right_column .woocommerce-product-details__short-description,
	  .cmsmasters_single_product .cmsmasters_product_right_column .cmsmasters_product_content {
		text-align: center;
	}

	.shop_table.cart {
		text-align: center;
	}

	.shop_table.cart tbody,
	  .shop_table.cart tr,
	  .shop_table.cart th,
	  .shop_table.cart td {
		text-align: center;
	}

	.shop_table.cart .product-remove {
		left: 0;
		right: auto;
	}

	.shop_table.cart .product-thumbnail {
		text-align: center;
	}

	.shop_table.cart .product-price {
		text-align: left;
	}

	.shop_table.cart .product-subtotal {
		text-align: right;
	}

	.shop_table.cart .actions {
		text-align: center;
	}

	.shop_table.cart .actions .coupon {
		float: none;
		text-align: center;
	}

	ul.order_details li {
		float: right;
	}
}

@media only screen and (max-width: 540px) {
	.form-row {
		float: none;
	}

	.woocommerce-message,
	  .woocommerce-info {
		text-align: center;
	}

	.woocommerce-message .button,
	  .woocommerce-info .button {
		margin-left: 0;
		text-align: center;
	}

	.r_sidebar .content .cmsmasters_products .product,
	  .l_sidebar .content .cmsmasters_products .product,
	  .fullwidth .middle_content .cmsmasters_products .product,
	  .r_sidebar .content .related .cmsmasters_products .product,
	  .l_sidebar .content .related .cmsmasters_products .product,
	  .fullwidth .middle_content .related .cmsmasters_products .product {
		float: none;
	}

	.cmsmasters_products_shortcode .columns-4 .cmsmasters_products .product,
	  .cmsmasters_selected_products_shortcode .columns-4 .cmsmasters_products .product,
	  .cmsmasters_products_shortcode .columns-3 .cmsmasters_products .product,
	  .cmsmasters_selected_products_shortcode .columns-3 .cmsmasters_products .product,
	  .cmsmasters_products_shortcode .columns-2 .cmsmasters_products .product,
	  .cmsmasters_selected_products_shortcode .columns-2 .cmsmasters_products .product,
	  .cmsmasters_products_shortcode .columns-1 .cmsmasters_products .product,
	  .cmsmasters_selected_products_shortcode .columns-1 .cmsmasters_products .product {
		float: none;
	}

	.cmsmasters_woo_wrap_result .woocommerce-result-count {
		float: none;
		text-align: center;
	}

	.cmsmasters_woo_wrap_result .woocommerce-ordering {
		float: none;
	}

	.cmsmasters_single_product .cmsmasters_product_info_wrap {
		float: none;
		text-align: right;
	}

	.cmsmasters_single_product .price {
		text-align: right;
	}

	.cmsmasters_single_product .cmsmasters_star_rating {
		float: none;
	}

	ul.order_details li {
		float: none;
	}
}
