/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.4
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */
/*-------------------------------------------------------------------------*/
/* Global Styles
/*-------------------------------------------------------------------------*/
/* Icons */
#page .cmsmasters_theme_icon_basket:before {
  content: '\e839';
  font-family: fontello-custom;
}
.cmsmasters_theme_icon_star_empty:before {
  content: '\e8aa';
}
.cmsmasters_theme_icon_star_full:before {
  content: '\e8aa';
}
.woocommerce:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-page .content_wrap.fullwidth {
  padding-top: 0;
  padding-bottom: 40px;
}
.woocommerce-store-notice {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 50px 10px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
}
.woocommerce-store-notice p {
  margin: 0;
  padding: 0;
}
.woocommerce-store-notice p a {
  opacity: 0.8;
}
.woocommerce-store-notice p a:hover {
  opacity: 1;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link {
  font-size: 13px;
  line-height: 1em;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  left: auto;
  right: 20px;
  top: 0;
  bottom: 0;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.woocommerce-store-notice .woocommerce-store-notice__dismiss-link:hover {
  opacity: 0.8;
}
.product .preloader {
  padding-bottom: 100%;
}
.product .preloader img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* Star Rating */
.cmsmasters_star_rating {
  width: 110px;
  height: 22px;
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star {
  font-size: 16px;
  width: 22px;
  height: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  float: left;
}
.cmsmasters_star_rating .cmsmasters_star:before {
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_star_rating .cmsmasters_star_trans_wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star_color_wrap {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.cmsmasters_star_rating .cmsmasters_star_color_inner {
  width: 110px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.comment-form-rating {
  position: relative;
  overflow: hidden;
}
.comment-form-rating > .stars,
.comment-form-rating > label {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.comment-form-rating .stars {
  margin: 0 0 0 10px;
}
.comment-form-rating .stars > span {
  display: block;
  width: 65px;
  height: 14px;
  position: relative;
  overflow: hidden;
}
.comment-form-rating .stars > span:before,
.comment-form-rating .stars > span a:before {
  font-family: "fontello";
  line-height: 1em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-indent: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.comment-form-rating .stars > span:before {
  content: '\e8aa\e8aa\e8aa\e8aa\e8aa';
}
.comment-form-rating .stars > span a:before {
  content: '\e8aa\e8aa\e8aa\e8aa\e8aa';
}
.comment-form-rating .stars > span a {
  color: transparent;
  text-indent: 9999px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.comment-form-rating .stars > span a.star-1 {
  width: 13px;
  z-index: 10;
}
.comment-form-rating .stars > span a.star-2 {
  width: 26px;
  z-index: 9;
}
.comment-form-rating .stars > span a.star-3 {
  width: 39px;
  z-index: 8;
}
.comment-form-rating .stars > span a.star-4 {
  width: 52px;
  z-index: 7;
}
.comment-form-rating .stars > span a.star-5 {
  width: 65px;
  z-index: 6;
}
/* Sale */
.onsale,
.out-of-stock,
.stock {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 6px 20px;
  z-index: 10;
  overflow: hidden;
}
.out-of-stock {
  left: auto;
  right: 10px;
}
.outofstock .onsale {
  display: none;
}
/* checkbox and radio */
label > .input-checkbox,
label > .input-radio,
label > input.shipping_method {
  float: none;
  width: auto;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  bottom: 1px;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
}
.input-checkbox,
.input-radio,
input.shipping_method:not([type=hidden]) {
  float: left;
  opacity: 0;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
}
.input-checkbox + label,
.input-radio + label,
input.shipping_method:not([type=hidden]) + label {
  display: inline-block;
  padding: 0 0 0 25px;
  position: relative;
  cursor: pointer;
}
.input-checkbox + label:before,
.input-radio + label:before,
input.shipping_method:not([type=hidden]) + label:before {
  content: '';
  border-width: 1px;
  border-style: solid;
  width: 15px;
  height: 15px;
  margin: auto !important;
  position: absolute;
  left: 1px;
  right: auto;
  top: 0;
  bottom: 0;
}
.input-checkbox + label:after,
.input-radio + label:after,
input.shipping_method:not([type=hidden]) + label:after {
  content: '';
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  width: 7px;
  height: 7px;
  margin: auto !important;
  position: absolute;
  left: 5px;
  right: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.input-checkbox:checked + label:after,
.input-radio:checked + label:after,
input.shipping_method:not([type=hidden]):checked + label:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
label.checkbox {
  display: inline-block;
  padding: 0;
}
label.checkbox + input {
  visibility: visible;
  opacity: 1;
}
.input-radio + label:before,
input.shipping_method + label:before,
.input-radio + label:after,
input.shipping_method + label:after {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* Shipping */
#shipping_method {
  padding: 0;
  margin: 0;
}
#shipping_method li {
  padding: 5px 0 0;
  overflow: hidden;
}
#shipping_method li:first-child {
  padding: 0;
}
#shipping_method li:before {
  content: none;
}
#shipping_method + p {
  padding: 20px 0 0;
}
.woocommerce-column__title {
  text-align: center;
}
.woocommerce-customer-details {
  padding: 55px 0 0;
}
.woocommerce-customer-details table {
  margin: 0 0 40px;
  border-top-width: 1px;
  border-top-style: solid;
}
.woocommerce-customer-details table th,
.woocommerce-customer-details table td {
  padding: 18px 30px;
}
.woocommerce-customer-details h2 {
  margin: 0 0 25px;
  text-align: center;
}
.woocommerce-customer-details .woocommerce-columns--addresses {
  margin: 25px 0 0;
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 25px;
  margin: 0 0 20px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  overflow: hidden;
  clear: both;
}
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  margin-right: 30px;
}
.woocommerce-notice {
  padding: 0 0 15px;
  text-align: center;
}
.woocommerce-info {
  padding: 25px;
  margin: 0 0 20px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
}
.woocommerce-error li {
  padding: 0;
  margin: 0;
}
.woocommerce-error li:before {
  content: none;
}
/* Quantity */
.quantity {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  overflow: hidden;
}
.quantity .screen-reader-text {
  display: none;
}
.quantity .text {
  display: block;
  width: 72px;
  min-width: 0;
}
/* Variation */
table.variations tr {
  border-width: 0;
  border-style: solid;
}
table.variations tr td {
  padding: 5px 0 0;
  border-width: 0;
  border-style: solid;
}
table.variations tr:first-child td {
  padding: 0;
}
table.variations .reset_variations {
  margin-left: 10px;
  margin-right: 0;
}
.single_variation_wrap .woocommerce-variation-description {
  border: 0 !important;
  margin: 20px 0 0;
}
.single_variation_wrap .woocommerce-variation-description > *:last-child {
  margin: 0;
  padding: 0;
}
.single_variation_wrap .single_variation {
  margin: 20px 0 0;
  overflow: hidden;
}
.single_variation_wrap .single_variation .stock {
  display: inline-block !important;
  margin: 0 0 0 10px;
  vertical-align: middle;
  position: static;
}
.single_variation_wrap .variations_button {
  margin: 20px 0 0;
  overflow: hidden;
}
dl.variation {
  display: block;
  padding: 0;
  overflow: hidden;
}
dl.variation:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
dl.variation dt,
dl.variation dd,
dl.variation p {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
dl.variation dt {
  padding-left: 0;
  padding-right: 10px;
  float: left;
  clear: left;
}
dl.variation dd {
  float: left;
}
/* Col2-set */
.col2-set {
  margin: 0 -1.3% 30px;
  position: relative;
  overflow: hidden;
}
.col2-set > * {
  width: 49.8%;
  margin: 0 0.1%;
  position: relative;
  float: left;
  overflow: hidden;
}
/* Form Row Styles */
.form-row {
  width: 44%;
  margin: 0 3%;
  position: relative;
  float: left;
}
.form-row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.form-row.form-row-wide,
.form-row.notes,
.form-row.place-order {
  width: 94%;
  float: none;
  clear: both;
}
.form-row.place-order {
  width: auto;
  margin: 0;
}
.form-row label {
  display: block;
  padding: 0 0 10px;
}
.form-row select,
.form-row input,
.form-row textarea {
  width: 100%;
  max-width: 100%;
}
.form-row textarea {
  min-height: 200px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"],
.form-row input[type="submit"],
.form-row input[type="button"] {
  width: auto;
}
/* Amount Styles */
.amount {
  white-space: nowrap;
}
.amount span {
  display: inline-block;
}
/* Remove Button Styles */
#page .remove {
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
  text-indent: 1px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 1px;
  text-align: center;
}
/*-------------------------------------------------------------------------*/
/* Shop Page
/*-------------------------------------------------------------------------*/
.cmsmasters_woo_wrap_result {
  padding: 0 0 10px;
  position: relative;
  overflow: hidden;
  clear: both;
}
.cmsmasters_woo_wrap_result select {
  width: 100%;
  max-width: 100%;
}
.cmsmasters_woo_wrap_result .woocommerce-result-count {
  padding: 0;
  line-height: 54px;
  float: right;
}
.cmsmasters_woo_wrap_result .woocommerce-ordering {
  float: left;
}
.cmsmasters_products {
  margin: 0 -1.3% 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.cmsmasters_products .product {
  width: 22.4%;
  margin: 0 1.3%;
  padding: 35px 0 0;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
  float: left;
}
.cmsmasters_products .product:before {
  content: none;
}
.cmsmasters_products .product.product-category {
  text-align: center;
}
.cmsmasters_products .product.product-category .woocommerce-loop-category__title {
  display: inline-block;
  margin: 15px 0 0;
}
.cmsmasters_products .product.product-category .woocommerce-loop-category__title mark {
  background: inherit;
}
.columns-6.cmsmasters_products .product {
  width: 13.94%;
}
.columns-6.cmsmasters_products .product:nth-child(6n+1) {
  clear: left;
}
.columns-5.cmsmasters_products .product {
  width: 17.4%;
}
.columns-5.cmsmasters_products .product:nth-child(5n+1) {
  clear: left;
}
.columns-4.cmsmasters_products .product {
  width: 22.4%;
}
.columns-4.cmsmasters_products .product:nth-child(4n+1) {
  clear: left;
}
.columns-3.cmsmasters_products .product {
  width: 30.73%;
}
.columns-3.cmsmasters_products .product:nth-child(3n+1) {
  clear: left;
}
.columns-2.cmsmasters_products .product {
  width: 47.4%;
}
.columns-2.cmsmasters_products .product:nth-child(2n+1) {
  clear: left;
}
.columns-1.cmsmasters_products .product {
  width: 97.4%;
  float: none;
  clear: both;
}
.cmsmasters_product {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_product > * {
  text-align: center;
}
.cmsmasters_product .cmsmasters_product_img {
  position: relative;
  overflow: hidden;
}
.cmsmasters_product .cmsmasters_product_img img {
  width: 100%;
}
.cmsmasters_product .cmsmasters_product_img:hover .cmsmasters_product_add_wrap,
.cmsmasters_product .cmsmasters_product_img.cmsmasters_mobile_hover .cmsmasters_product_add_wrap {
  opacity: 1;
}
.cmsmasters_product .cmsmasters_product_add_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
}
.cmsmasters_product .cmsmasters_product_add_wrap:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cmsmasters_product .cmsmasters_product_add_inner {
  display: inline-block;
  vertical-align: middle;
}
.cmsmasters_product .button {
  display: block;
  margin: 0;
}
.cmsmasters_product .button:last-child {
  margin: 0;
}
.cmsmasters_product .button.added_to_cart {
  display: none;
}
.cmsmasters_product .button.added {
  display: none;
}
.cmsmasters_product .button.added + .added_to_cart {
  display: block;
}
.cmsmasters_product .button.loading {
  text-indent: -9999px;
}
.cmsmasters_product .button.loading:before {
  content: '\e9fd';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-size: 16px;
  text-indent: 0;
  width: 1em;
  height: 1em;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cmsmasters_product .cmsmasters_product_inner {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_product .cmsmasters_product_header {
  padding: 0 0 20px;
}
.cmsmasters_product .cmsmasters_product_title {
  margin: 0;
}
.cmsmasters_product .cmsmasters_product_cat {
  padding: 0 0 8px;
  text-align: center;
  overflow: hidden;
}
.cmsmasters_product .cmsmasters_product_info {
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.cmsmasters_product .cmsmasters_star_rating {
  padding: 0;
  margin: 15px auto 0 auto;
  overflow: hidden;
}
.cmsmasters_product .price {
  position: relative;
  padding: 10px 0 0;
  display: inline-block;
}
.cmsmasters_product .price del {
  margin: 0 5px 0 0;
  vertical-align: middle;
  white-space: nowrap;
}
.cmsmasters_product .price ins {
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
/*-------------------------------------------------------------------------*/
/* Single Product
/*-------------------------------------------------------------------------*/
.cmsmasters_single_product {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .onsale,
.cmsmasters_single_product .out-of-stock {
  left: 10px;
  right: auto;
  top: 10px;
  bottom: auto;
  margin: 0;
  position: absolute;
}
.cmsmasters_single_product .cmsmasters_product_left_column {
  width: 34%;
  position: relative;
  float: left;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_images {
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_image {
  display: block;
  max-width: 100%;
  position: relative;
  text-align: center;
}
.cmsmasters_single_product .cmsmasters_product_image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.cmsmasters_single_product .cmsmasters_product_thumbs {
  display: block;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
  display: block;
  width: 95px;
  margin: 10px 10px 0 0;
  position: relative;
  text-align: center;
  float: left;
}
.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb:last-child {
  margin: 10px 0 0;
}
.cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb img {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.cmsmasters_single_product .cmsmasters_product_right_column {
  width: 66%;
  padding: 0 0 0 65px;
  position: relative;
  float: right;
  overflow: hidden;
}
.cmsmasters_single_product .cmsmasters_product_right_column .out-of-stock {
  display: none;
}
.cmsmasters_single_product .price {
  margin: 15px 0 0;
  padding: 0;
  direction: rtl;
}
.cmsmasters_single_product .price del {
  direction: ltr;
  display: inline-block;
  margin: 0 0 0 15px;
  vertical-align: middle;
}
.cmsmasters_single_product .price del .woocommerce-Price-amount {
  vertical-align: middle;
}
.cmsmasters_single_product .price ins {
  direction: ltr;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
.cmsmasters_single_product .cmsmasters_star_rating {
  margin: 5px 0 0;
}
.cmsmasters_single_product .product_title {
  margin: 0;
}
.cmsmasters_single_product .woocommerce-product-details__short-description {
  margin: 30px 0 0;
}
.cmsmasters_single_product .woocommerce-product-details__short-description > p:last-child {
  padding: 0;
}
.cmsmasters_single_product .quantity .text {
  width: 81px;
}
.cmsmasters_single_product .product_meta {
  padding: 15px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .product_meta > span {
  display: block;
  padding: 5px 0 0;
}
.cmsmasters_single_product .product_meta .tagged_as {
  margin: 0 -10px;
}
.cmsmasters_single_product .product_meta .tagged_as a {
  margin: 0 10px;
}
.cmsmasters_single_product .product_meta .tagged_as a:before {
  content: '#';
}
.cmsmasters_single_product .cmsmasters_product_content {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cart {
  padding: 30px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_single_product .cart .single_add_to_cart_button {
  vertical-align: middle;
  line-height: 54px;
  margin: 0 0 0 13px;
  padding: 0 40px;
}
.cmsmasters_single_product .cart .group_table tbody tr,
.cmsmasters_single_product .cart .group_table tbody td {
  border-width: 0;
  border-style: solid;
}
.cmsmasters_woo_tabs {
  padding: 75px 0 0;
  overflow: hidden;
}
.cmsmasters_woo_tabs .cmsmasters_tab_inner > h2 {
  display: none;
}
.shop_attributes tr {
  border-left-width: 0;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
}
.shop_attributes tr:last-child {
  border-bottom-width: 0;
  border-bottom-style: solid;
}
.shop_attributes th {
  width: 255px;
  padding: 5px 10px 5px 0;
}
.shop_attributes td {
  padding: 5px 0;
}
.shop_attributes p {
  margin: 0;
  padding: 0;
}
.cmsmasters_woo_comments {
  margin: 0;
  padding: 0;
}
.cmsmasters_woo_comments .cmsmasters_star_rating {
  margin: 0 0 0 10px;
  width: 75px;
  height: 18px;
  float: right;
}
.cmsmasters_woo_comments .cmsmasters_star_rating .cmsmasters_star_color_inner {
  width: 75px;
}
.cmsmasters_woo_comments .cmsmasters_star_rating .cmsmasters_star {
  font-size: 12px;
  width: 15px;
}
.cmsmasters_woo_comments .star-rating {
  display: none;
}
.cmsmasters_woo_comments .cmsmasters_comment_item_date {
  display: block;
  overflow: hidden;
}
section.products {
  margin: 0;
  padding: 55px 0 0;
  position: relative;
  overflow: hidden;
}
section.products .cmsmasters_product_title_wrapper {
  position: relative;
  display: block;
  text-align: center;
}
section.products .cmsmasters_product_title_wrapper:before {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
section.products .cmsmasters_product_title_wrapper h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 25px;
}
.page-description {
  margin: 0 -1.3%;
}
/*-------------------------------------------------------------------------*/
/* Cart
/*-------------------------------------------------------------------------*/
.shop_table {
  width: 100%;
  padding: 0 0 60px;
  position: relative;
}
#page .shop_table .remove {
  font-size: 18px;
}
.shop_table thead,
.shop_table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.shop_table th,
.shop_table td {
  padding: 19px 0;
  vertical-align: middle;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.woocommerce-checkout-review-order-table.shop_table th,
.woocommerce-checkout-review-order-table.shop_table td,
.order_details.shop_table th,
.order_details.shop_table td {
  padding: 18px 30px;
}
.shop_table td {
  padding: 15px 0;
}
.shop_table.order_details td.woocommerce-table__product-name ul {
  padding: 5px 0 0;
}
.shop_table.order_details td.woocommerce-table__product-name ul:last-child {
  margin: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li {
  padding: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li:before {
  content: none;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong,
.shop_table.order_details td.woocommerce-table__product-name li > p {
  display: inline-block;
  vertical-align: middle;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong:last-child,
.shop_table.order_details td.woocommerce-table__product-name li > p:last-child {
  padding-bottom: 0;
}
.shop_table.order_details td.woocommerce-table__product-name li > strong {
  padding: 0 10px 0 0;
  clear: left;
}
.shop_table .product-remove {
  width: 30px;
  padding-left: 20px;
  padding-right: 10px;
}
.shop_table .product-thumbnail {
  width: 80px;
  padding-left: 0;
  padding-right: 20px;
}
.shop_table .product-thumbnail img {
  width: 50px;
  height: auto;
}
.shop_table .product-name {
  outline: none;
}
.shop_table .product-price {
  outline: none;
}
.shop_table .amount {
  outline: none;
}
.shop_table .product-quantity input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
  padding: 0 10px 0 15px;
  height: 46px;
}
.shop_table .actions {
  padding: 15px 30px;
  text-align: right;
}
.shop_table .actions input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
  padding: 0 10px 0 15px;
  height: 46px;
}
.shop_table .actions .coupon {
  position: relative;
  float: left;
  overflow: hidden;
}
.shop_table .actions .coupon input {
  display: inline-block;
  vertical-align: bottom;
}
.shop_table .actions .coupon .button {
  margin: 0 0 0 -3px;
}
.shop_table .actions .coupon label {
  display: none;
}
.shop_table .actions .button {
  line-height: 46px;
  padding: 0 35px;
}
.shop_table .actions .input-text {
  width: 260px;
  margin: 0;
}
.cross-sells {
  margin: 35px 0 50px 0;
}
.cross-sells h2 {
  margin-bottom: 0;
}
.cart_totals {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 65px 0 0;
  overflow: hidden;
}
.cart_totals > h2 {
  position: relative;
  margin: 0 0 30px;
}
.cart_totals table {
  width: 100%;
  position: relative;
}
.cart_totals table tr {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cart_totals table th,
.cart_totals table td {
  padding: 17px 30px;
  vertical-align: top;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.cart_totals table .shipping th,
.cart_totals table .shipping td {
  padding: 25px 30px;
}
.cart_totals table th {
  width: 43%;
}
.cart_totals table td {
  width: 57%;
  text-align: right;
}
.cart_totals table input[type="checkbox"],
.cart_totals table input[type="radio"] {
  left: auto;
  right: 0;
  float: right;
}
.cart_totals table input[type="checkbox"] + label,
.cart_totals table input[type="radio"] + label {
  padding-left: 0;
  padding-right: 25px;
  float: right;
}
.cart_totals table input[type="checkbox"] + label:before,
.cart_totals table input[type="radio"] + label:before {
  left: auto;
  right: 0;
}
.cart_totals table input[type="checkbox"] + label:after {
  left: auto;
  right: 3px;
}
.cart_totals table input[type="radio"] + label:after {
  left: auto;
  right: 4px;
}
.woocommerce-shipping-calculator {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-shipping-calculator > p {
  margin: 0;
  padding: 0;
}
.shipping-calculator-form {
  margin: 10px -1.3% 0;
}
.shipping-calculator-form > * {
  width: 97.4%;
  margin: 0 1.3%;
  clear: both;
}
.shipping-calculator-form > p {
  padding: 0 0 13px;
}
.shipping-calculator-form > p:last-of-type {
  padding: 0;
}
.shipping-calculator-form > p button {
  padding: 0;
  margin: 7px 0 0;
  background: none;
}
.shipping-calculator-form > p button:hover {
  background: none;
}
.wc-proceed-to-checkout {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons {
  display: inline-block;
  margin: 0;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__separator {
  display: inline-block;
  margin: 0 30px;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button {
  margin: 0;
  padding: 0;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button img {
  display: none;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button:before {
  content: '\ebba';
  font-family: fontello;
}
.wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__button:after {
  content: 'Check out with PayPal';
  display: inline-block;
  margin-left: 2px;
}
.woocommerce-MyAccount-navigation {
  margin: 0 0 20px;
}
.woocommerce-MyAccount-navigation ul {
  text-align: left;
}
.woocommerce-MyAccount-navigation ul > li {
  display: inline-block;
  margin: 0 35px 0 0;
}
.woocommerce-MyAccount-navigation ul > li:last-child {
  margin: 0;
}
.woocommerce-MyAccount-content .shop_table th,
.woocommerce-MyAccount-content .shop_table td {
  text-align: center;
}
.woocommerce-MyAccount-content .woocommerce-Addresses {
  margin: 0;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address {
  margin: 20px 0 0;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address-title {
  margin: 0 0 5px;
}
.woocommerce-MyAccount-content .woocommerce-Addresses h3 {
  margin: 0 0 15px;
}
.woocommerce-MyAccount-content .woocommerce-Button {
  margin: 0 1.5%;
}
.woocommerce-MyAccount-content form {
  margin: 0 -1.5% 30px;
}
.woocommerce-MyAccount-content form .form-row {
  margin: 0 1.5%;
}
.woocommerce-MyAccount-content form .form-row {
  width: 47%;
}
.woocommerce-MyAccount-content form .form-row-wide {
  width: 97%;
}
.woocommerce-MyAccount-content form .clear {
  display: none;
}
.woocommerce-MyAccount-content legend {
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}
.woocommerce-MyAccount-content fieldset {
  margin: 0;
  padding: 0;
}
.woocommerce-MyAccount-content > p {
  padding: 0;
}
/*-------------------------------------------------------------------------*/
/* Checkout
/*-------------------------------------------------------------------------*/
.checkout_coupon {
  margin: 0 -1.5% 30px;
  position: relative;
  overflow: hidden;
}
.checkout_coupon p:not([class]) {
  width: 97.4%;
  margin: 0 1.3%;
}
.checkout_coupon input,
.checkout_coupon button[type=submit] {
  width: 100%;
  max-width: 100%;
  line-height: 54px;
  height: 54px;
}
.checkout_coupon .form-row {
  width: 47%;
  margin: 0 1.5%;
}
#order_review_heading {
  width: 48.5%;
  text-align: center;
}
.woocommerce-order-details__title {
  margin: 0 0 25px;
  text-align: center;
}
.woocommerce-checkout-review-order {
  width: 48.5%;
}
body .select2-container .select2-choice,
body .select2-container.select2-drop-above .select2-choice {
  padding: 0 20px;
  border-width: 0;
  border-style: solid;
}
body .select2-container {
  padding-right: 1px;
}
body .select2-container.select2-container--open .select2-selection--single,
body .select2-container.select2-container--focus .select2-selection--single {
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .select2-container .select2-selection--single {
  height: 54px;
  padding: 0 50px 0 20px;
  background-image: url('../../../../img/select.png');
  background-position: 100% center;
  background-repeat: no-repeat;
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .select2-container .select2-selection--single .select2-selection__arrow {
  display: none;
}
body .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 54px;
  padding: 0;
}
body .select2-dropdown {
  -webkit-border-radius: 0;
  border-radius: 0;
}
body .select2-dropdown .select2-results .select2-results__option {
  padding: 6px 6px 6px 20px;
}
body .select2-dropdown .select2-results .select2-results__option:first-child {
  padding: 6px 6px 6px 20px;
}
body .select2-dropdown .select2-results .select2-results__option:before {
  content: none;
}
body .select2-drop.select2-drop-active,
body .select2-drop.select2-drop-above.select2-drop-active {
  border-width: 0;
  border-style: solid;
}
.checkout {
  position: relative;
  padding: 35px 0;
  overflow: hidden;
}
.woocommerce-additional-fields,
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
  position: relative;
  overflow: hidden;
}
.woocommerce-additional-fields:after,
.woocommerce-billing-fields:after,
.woocommerce-shipping-fields:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.woocommerce-additional-fields > h3,
.woocommerce-billing-fields > h3,
.woocommerce-shipping-fields > h3 {
  margin: 0 1.3% 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.woocommerce-additional-fields .shipping_address,
.woocommerce-billing-fields .shipping_address,
.woocommerce-shipping-fields .shipping_address {
  overflow: hidden;
}
#page .woocommerce-terms-and-conditions {
  width: 100%;
}
#page .woocommerce-terms-and-conditions .cmsmasters_row_inner {
  width: 100%;
  padding: 0 20px;
}
.woocommerce-checkout-payment {
  padding: 25px;
  margin: 40px 0 0;
  position: relative;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}
.woocommerce-checkout-payment .payment_methods {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-checkout-payment .payment_methods li {
  position: relative;
  padding: 10px 0 0;
  overflow: hidden;
}
.woocommerce-checkout-payment .payment_methods li:first-child {
  padding: 0;
}
.woocommerce-checkout-payment .payment_methods li:before {
  content: none;
}
.woocommerce-checkout-payment .payment_methods li.woocommerce-notice {
  margin: 0;
  padding: 10px;
}
.woocommerce-checkout-payment .payment_methods label {
  display: inline-block;
  float: none;
}
.woocommerce-checkout-payment .payment_methods label img {
  display: none;
}
.woocommerce-checkout-payment .payment_methods .payment_box {
  padding: 0 0 0 32px;
  position: relative;
  clear: both;
}
.woocommerce-checkout-payment .payment_methods .payment_box p {
  margin: 0;
  padding: 0;
}
.woocommerce-checkout-payment .payment_methods .input-checkbox + label,
.woocommerce-checkout-payment .payment_methods .input-radio + label,
.woocommerce-checkout-payment .payment_methods input.shipping_method + label {
  padding: 0 0 0 32px;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper > * {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row {
  width: auto;
  display: block;
  padding: 0;
  margin: 0 0 20px;
  direction: rtl;
  overflow: hidden;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row > * {
  direction: ltr;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 2px;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row label span {
  display: inline-block;
  vertical-align: middle;
}
.woocommerce-checkout-payment .woocommerce-terms-and-conditions-wrapper .form-row .input-checkbox {
  margin: 0 7px 0 0 !important;
}
.woocommerce-password-strength {
  padding: 20px 0 0;
}
/*-------------------------------------------------------------------------*/
/* Order
/*-------------------------------------------------------------------------*/
ul.order_details {
  list-style: none;
  margin: 0 0 55px;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
}
ul.order_details li {
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
ul.order_details li:first-child strong {
  border-left-width: 1px;
  border-left-style: solid;
}
ul.order_details li:last-child strong {
  border-right-width: 1px;
  border-right-style: solid;
}
ul.order_details li:before {
  content: none;
}
ul.order_details li strong {
  display: block;
  margin: 10px -15px -10px;
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.woocommerce-page.woocommerce-order-received .woocommerce > h2 {
  padding-top: 30px;
}
/*-------------------------------------------------------------------------*/
/* Dynamic Cart
/*-------------------------------------------------------------------------*/
.cmsmasters_dynamic_cart_link_wrap {
  height: 100%;
  margin: 0 0 0 18px;
  position: relative;
  display: none;
  float: right;
}
.cmsmasters_dynamic_cart_link_wrap:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cmsmasters_dynamic_cart_link_wrap .cmsmasters_header_cart_link {
  font-size: 17px;
  line-height: 17px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
}
.cmsmasters_dynamic_cart_link_wrap .cmsmasters_header_cart_link:before {
  width: 28px;
  display: inline-block;
  vertical-align: middle;
}
.cmsmasters_dynamic_cart_link_wrap .cmsmasters_header_cart_link:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cmsmasters_dynamic_cart_wrap {
  height: 100%;
  margin: 0 0 0 18px;
  position: relative;
  float: right;
}
.cmsmasters_dynamic_cart_wrap:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.woocommerce-mini-cart__empty-message {
  padding: 0 20px;
}
.cmsmasters_dynamic_cart {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  position: relative;
  word-wrap: break-word;
}
#page .cmsmasters_dynamic_cart .remove {
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -13px;
}
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
  font-size: 17px;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  height: 28px;
}
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:before {
  width: 28px;
  display: inline-block;
  vertical-align: middle;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content {
  width: 315px;
  padding: 30px 15px 30px 30px;
  margin: 40px 0 0;
  visibility: hidden;
  position: absolute;
  left: auto;
  right: 0;
  top: 100%;
  z-index: 1000;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  opacity: 0 !important;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content:before {
  content: '';
  display: block;
  width: 100%;
  height: 18px;
  position: absolute;
  left: 0;
  top: -18px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list {
  list-style: none;
  max-height: 395px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li {
  min-height: 75px;
  margin: 20px 0 0;
  padding: 5px 35px 5px 95px;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li:before {
  content: none;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li:first-child {
  margin: 0;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list li.empty {
  min-height: 1px;
  padding: 5px 35px;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list a {
  display: block;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list img {
  image-rendering: auto;
  width: 75px;
  height: 75px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity {
  margin: 5px 0 0;
  direction: rtl;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity * {
  display: inline-block;
  direction: ltr;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list .quantity .amount {
  white-space: nowrap;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .total {
  padding: 22px 0 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .total strong {
  outline: none;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons {
  margin: 0 -1%;
  padding: 15px 0 0 0;
  position: relative;
  overflow: hidden;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons .button {
  width: 46%;
  margin: 0 1%;
  padding: 0 18px;
  float: left;
}
.cmsmasters_dynamic_cart .widget_shopping_cart_content .buttons .wcppec-cart-widget-button {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
.cmsmasters_dynamic_cart:hover .widget_shopping_cart_content,
.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button:hover + .widget_shopping_cart_content,
.cmsmasters_dynamic_cart .widget_shopping_cart_content:hover {
  visibility: visible;
  margin-top: 18px;
  opacity: 1 !important;
}
.cmsmasters_added_product_info {
  width: 315px;
  margin: 40px 0 0;
  padding: 30px;
  visibility: hidden;
  position: absolute;
  left: auto;
  right: 0;
  top: 100%;
  z-index: 1001;
  overflow: hidden;
  opacity: 0;
}
.cmsmasters_added_product_info .cmsmasters_added_product_info_img {
  width: 75px;
  height: 75px;
  float: left;
}
.cmsmasters_added_product_info .cmsmasters_added_product_info_text {
  display: block;
  padding: 15px 0 15px 20px;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------------------------*/
.widget.woocommerce > form {
  overflow: visible;
}
.widget.woocommerce > form > * {
  overflow: visible;
}
/***************** Widget Product Search ******************/
.widget_product_search {
  position: relative;
}
/***************** Widget Lists ******************/
.widget_layered_nav ul,
.widget_rating_filter ul,
.widget_layered_nav_filters ul,
.widget_product_categories ul {
  margin: 0;
  padding: 0;
}
.widget_layered_nav ul ul,
.widget_rating_filter ul ul,
.widget_layered_nav_filters ul ul,
.widget_product_categories ul ul {
  margin: 0 0 -4px;
  padding: 4px 0 0 10px;
}
.widget_layered_nav ul li,
.widget_rating_filter ul li,
.widget_layered_nav_filters ul li,
.widget_product_categories ul li {
  margin: 0;
  padding: 4px 0;
}
.widget_layered_nav ul li:before,
.widget_rating_filter ul li:before,
.widget_layered_nav_filters ul li:before,
.widget_product_categories ul li:before {
  content: none;
}
.widget_layered_nav ul li a,
.widget_rating_filter ul li a,
.widget_layered_nav_filters ul li a,
.widget_product_categories ul li a {
  outline: none;
}
/***************** Widget Product List ******************/
.widget > .product_list_widget {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.widget > .product_list_widget li {
  min-height: 75px;
  margin: 20px 0 0;
  padding: 5px 5px 5px 95px;
  position: relative;
  overflow: hidden;
}
.widget > .product_list_widget li:before {
  content: none;
}
.widget > .product_list_widget li:first-child {
  margin: 0;
}
.widget > .product_list_widget .cmsmasters_star_rating {
  margin: 0;
  width: 75px;
  height: 18px;
}
.widget > .product_list_widget .cmsmasters_star_rating .cmsmasters_star_color_inner {
  width: 75px;
}
.widget > .product_list_widget .cmsmasters_star_rating .cmsmasters_star {
  font-size: 12px;
  width: 15px;
}
.widget > .product_list_widget a {
  display: block;
  margin: 0 0 5px;
}
.widget > .product_list_widget img {
  width: 75px;
  height: 75px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  image-rendering: auto;
}
.widget > .product_list_widget .star-rating {
  display: none;
}
.widget > .product_list_widget ins {
  text-decoration: none;
}
.widget > .product_list_widget del {
  margin: 0 3px 0 0;
}
/***************** Widget Shopping Cart ******************/
.widget_shopping_cart {
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}
#page .widget_shopping_cart .remove {
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -13px;
}
.widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .cart_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.widget_shopping_cart .cart_list li {
  min-height: 75px;
  margin: 20px 0 0;
  padding: 5px 35px 5px 95px;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .cart_list li:before {
  content: none;
}
.widget_shopping_cart .cart_list li:first-child {
  margin: 0;
}
.widget_shopping_cart .cart_list li.empty {
  min-height: 1px;
  padding: 5px 35px;
}
.widget_shopping_cart .cart_list a {
  display: block;
}
.widget_shopping_cart .cart_list img {
  image-rendering: auto;
  width: 75px;
  height: 75px;
  margin: auto !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
}
.widget_shopping_cart .cart_list .quantity {
  margin: 5px 0 0;
  direction: rtl;
}
.widget_shopping_cart .cart_list .quantity * {
  display: inline-block;
  direction: ltr;
}
.widget_shopping_cart .cart_list .quantity .amount {
  white-space: nowrap;
}
.widget_shopping_cart .total {
  padding: 22px 0 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .total strong {
  outline: none;
}
.widget_shopping_cart .buttons {
  margin: 0 -1%;
  padding: 15px 0 0 0;
  position: relative;
  overflow: hidden;
}
.widget_shopping_cart .buttons .button {
  width: 46%;
  margin: 0 1%;
  padding: 0 10px;
  float: left;
}
.widget_price_filter .price_slider_wrapper {
  position: relative;
  overflow: hidden;
}
.widget_price_filter .price_slider {
  height: 2px;
  margin: 0 0 10px;
  position: relative;
}
.widget_price_filter .ui-slider-range {
  height: 100%;
  position: absolute;
  top: 0;
}
.widget_price_filter .ui-slider-handle {
  display: block;
  width: 11px;
  height: 11px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: auto;
  top: -5px;
  z-index: 100;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.widget_price_filter .ui-slider-handle:last-child {
  left: 100%;
  margin-left: -11px;
  margin-right: 0;
}
.widget_price_filter .price_slider_amount {
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
}
.widget_price_filter .price_slider_amount .button {
  float: right;
}
.widget_price_filter .price_slider_amount .price_label {
  display: block;
  padding: 9px 10px 9px 0;
  overflow: hidden;
}
/***************** Widget Tag Cloud ******************/
.widget_product_tag_cloud {
  position: relative;
  overflow: hidden;
}
.widget_product_tag_cloud a {
  line-height: 1em;
  display: inline-block;
  margin: 0 4px 0 0;
}
.widget_product_tag_cloud a:last-child {
  margin: 0;
}
/*-------------------------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------------------------*/
.cmsmasters_products_shortcode,
.cmsmasters_selected_products_shortcode {
  position: relative;
  overflow: hidden;
}
/*	Other Shortcodes */
.create-account .input-radio + label,
.create-account .input-checkbox + label {
  padding: 0 0 0 25px;
}
#customer_login h2 {
  margin: 0 0 25px;
  text-align: center;
}
.login,
.register {
  margin: 0 -1.3%;
  position: relative;
  overflow: hidden;
}
.login:after,
.register:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.login label.inline,
.register label.inline {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  margin-right: 0;
}
.login label.inline input,
.register label.inline input {
  vertical-align: middle;
  margin-top: -2px;
}
.login > *,
.register > * {
  width: 97.4%;
  margin-left: 1.3%;
  margin-right: 1.3%;
  overflow: hidden;
}
.login .lost_password,
.register .lost_password {
  clear: both;
}
.track_order {
  margin: 0 -1.3%;
  position: relative;
  overflow: hidden;
}
.track_order:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.track_order > * {
  margin-left: 1.3%;
  margin-right: 1.3%;
  overflow: hidden;
}
/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/
html.csstransitions .woocommerce-store-notice a {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
html.csstransitions .cmsmasters_products .product.product-category .woocommerce-loop-category__title,
html.csstransitions .cmsmasters_star_rating .cmsmasters_star {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
html.csstransitions body .select2-container .select2-selection--single {
  -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions .cmsmasters_product .button,
html.csstransitions .cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
html.csstransitions .cmsmasters_product .cmsmasters_product_img img {
  -webkit-transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  -moz-transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  -ms-transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  -o-transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
}
html.csstransitions .cmsmasters_product .cmsmasters_product_add_wrap {
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
html.csstransitions .cmsmasters_dynamic_cart .widget_shopping_cart_content {
  -webkit-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out;
}
html.csstransitions .shipping_method + label:after,
html.csstransitions .input-radio + label:after,
html.csstransitions .input-checkbox + label:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
