/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 950
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  ul.order_details li {
    padding: 15px 30px;
  }
  ul.order_details li strong {
    margin: 15px -30px -15px;
    padding: 15px 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_products {
    outline: none;
  }
}
@media only screen and (max-width: 1024px) {
  .cmsmasters_products.columns-6 .product {
    width: 30.73%;
  }
  .cmsmasters_products.columns-6 .product:nth-child(6n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-5 .product {
    width: 30.73%;
  }
  .cmsmasters_products.columns-5 .product:nth-child(5n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-5 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-4 .product {
    width: 47.4%;
  }
  .cmsmasters_products.columns-4 .product:nth-child(4n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-4 .product:nth-child(2n+1) {
    clear: left;
  }
  .cmsmasters_dynamic_cart_wrap {
    display: none;
  }
  .cmsmasters_dynamic_cart_link_wrap {
    display: block;
  }
  ul.order_details {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ul.order_details li {
    width: 50%;
  }
  ul.order_details li:nth-child(5) {
    width: 100%;
  }
  .widget_price_filter .price_slider_amount {
    padding: 10px 0 0;
  }
  .widget_price_filter .price_slider_amount .button {
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
    float: none;
  }
  .widget_price_filter .price_slider_amount .price_label {
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
@media only screen and (max-width: 950px) {
  .widget_shopping_cart .cart_list li {
    clear: both;
    float: left;
  }
  .widget_shopping_cart .buttons .button {
    width: auto;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .col2-set > * {
    width: 100%;
    margin-bottom: 40px;
    float: none;
    clear: both;
  }
  .col2-set > *:last-child {
    margin-bottom: 0;
  }
  .cart_totals {
    width: 100%;
  }
  #page.enable_header_centered .header_mid .cmsmasters_dynamic_cart_link_wrap {
    height: auto;
  }
  .cmsmasters_single_product .cmsmasters_product_left_column {
    width: 100%;
    max-width: 350px;
    float: none;
    padding: 0 0 40px;
    margin: 0 auto;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column {
    width: 100%;
    float: none;
    padding: 0;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column .product_meta,
  .cmsmasters_single_product .cmsmasters_product_right_column .woocommerce-product-details__short-description,
  .cmsmasters_single_product .cmsmasters_product_right_column .cmsmasters_product_content {
    text-align: center;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column .cmsmasters_star_rating {
    margin: 5px auto 0;
  }
  .shop_table.cart {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart tbody,
  .shop_table.cart tr,
  .shop_table.cart th,
  .shop_table.cart td {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart .cart_item {
    padding: 20px 0;
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .shop_table.cart .cart_item:first-child {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .shop_table.cart td {
    padding: 15px;
    border-width: 0;
    border-style: solid;
  }
  .shop_table.cart .product-remove {
    padding: 0;
    position: absolute;
    left: auto;
    right: 0;
    top: 5px;
    z-index: 1;
  }
  .shop_table.cart .product-thumbnail {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .shop_table.cart .product-price,
  .shop_table.cart .product-quantity,
  .shop_table.cart .product-subtotal {
    display: inline-block;
    width: 33.33%;
    margin: 0 -2px;
    vertical-align: middle;
  }
  .shop_table.cart .product-price {
    text-align: right;
  }
  .shop_table.cart .product-quantity {
    padding-left: 0;
    padding-right: 0;
  }
  .shop_table.cart .product-subtotal {
    text-align: left;
  }
  .shop_table.cart .actions {
    text-align: center;
  }
  .shop_table.cart .actions .coupon {
    padding: 0 0 20px;
    float: none;
    text-align: center;
  }
  .shop_table.cart .actions .input-text {
    display: block;
    margin: 0 auto 10px;
  }
  .shop_table.woocommerce-checkout-review-order-table th,
  .shop_table.order_details th,
  .shop_table.woocommerce-checkout-review-order-table td,
  .shop_table.order_details td {
    padding: 10px 15px;
  }
  .cart_totals table {
    width: 100%;
  }
  #order_review_heading,
  .woocommerce-checkout-review-order {
    width: 99.99%;
  }
  ul.order_details li {
    padding: 10px 15px;
    position: relative;
    float: left;
    overflow: hidden;
  }
  ul.order_details li:before {
    content: none;
  }
  ul.order_details li strong {
    display: block;
    margin: 10px -15px -10px;
    padding: 10px 15px;
    border-width: 1px;
    border-style: solid;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-3 .product {
    width: 97.4%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n) {
    clear: both;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-4 .product,
  .cmsmasters_products.columns-3 .product,
  .cmsmasters_products.columns-2 .product {
    width: 97.4%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-4 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n),
  .cmsmasters_products.columns-2 .product:nth-child(n) {
    clear: both;
  }
  .form-row {
    width: 94%;
    float: none;
    clear: both;
  }
  .woocommerce-message,
  .woocommerce-info {
    text-align: center;
  }
  .woocommerce-message .button,
  .woocommerce-info .button {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  table.variations select {
    display: block;
  }
  table.variations .reset_variations {
    display: inline-block;
    margin: 10px 0 0;
  }
  .cmsmasters_woo_wrap_result .woocommerce-result-count {
    padding: 0 10px 20px;
    float: none;
    text-align: center;
  }
  .cmsmasters_woo_wrap_result .woocommerce-ordering {
    float: none;
  }
  .cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
    width: 60px;
  }
  .cmsmasters_single_product .cmsmasters_product_info_wrap {
    float: none;
    padding: 0 0 30px;
    text-align: left;
  }
  .cmsmasters_single_product .price {
    text-align: left;
  }
  .cmsmasters_single_product .cmsmasters_star_rating {
    float: none;
  }
  .woocommerce-checkout-payment {
    padding: 20px 15px;
  }
  .woocommerce-checkout-payment .place-order .terms {
    display: block;
    padding: 15px 0 0;
  }
  ul.order_details li {
    width: 100%;
    float: none;
  }
}
