/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.3
 * 
 * Gutenberg Module RTL Rules
 * Created by CMSMasters
 * 
 */


.editor-styles-wrapper div.wp-block ul > li:before {
	margin:0 0 0 10px;
}

.editor-styles-wrapper .wp-block-table tr th:first-child,
.editor-styles-wrapper .wp-block-table tr td:first-child,
.wp-block-table tr th:first-child,
.wp-block-table tr td:first-child {
	border-left-width:0;
	border-right-width:1px;
	border-right-style:solid;
}

.editor-styles-wrapper .wp-block-table tr th:last-child,
.editor-styles-wrapper .wp-block-table tr td:last-child,
.wp-block-table tr th:last-child,
.wp-block-table tr td:last-child {
	border-right-width:0;
	border-left-width:1px;
	border-left-style:solid;
}

/* for gutenberg only */
.editor-styles-wrapper div.wp-block ul ol,
.editor-styles-wrapper div.wp-block ol ol,
.editor-styles-wrapper div.wp-block .block-library-list .editor-rich-text__tinymce ol,
.editor-styles-wrapper div.wp-block ul ul,
.editor-styles-wrapper div.wp-block ol ul,
.editor-styles-wrapper div.wp-block .block-library-list .editor-rich-text__tinymce ul {
	margin:0 20px 0 0;
}

