@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');
@font-face {
    font-family: 'Futura PT Book';
    src: url('fonts/FuturaPT-Book.eot');
    src: url('fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Book.woff2') format('woff2'),
    url('fonts/FuturaPT-Book.woff') format('woff'),
    url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?oa8lva');
    src:  url('fonts/icomoon.eot?oa8lva#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oa8lva') format('truetype'),
    url('fonts/icomoon.woff?oa8lva') format('woff'),
    url('fonts/icomoon.svg?oa8lva#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.cmsmasters_img.cmsmasters_image_l.mbh-banner-android,
.cmsmasters_img.cmsmasters_image_l.mbh-banner-ios-img{
    width: 170px;
    height: 50px;
    margin: 0 30px 0 0;
    object-fit: contain;
}
.cmsmasters_img.cmsmasters_image_l.mbh-banner-android{
    margin: 0;
}
.cmsmasters_heading_wrap.mhb-title-heading{
    margin-bottom: 0 !important;
}
.cmsmasters_heading_wrap.mhb-title-heading h2{
    background-image: url("img/stroke.png");
    background-repeat: no-repeat;
    width: 282px;
    height: 113px;
    font-family: 'Crimson Text', serif !important;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: -0.15px;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
}
.cmsmasters_text .mhb-subheading {
    font-family: 'Futura PT Book';
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 80px;
    letter-spacing: 3.91px;
    color: #516375;
    padding-top: 5px;
}
.mhb-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: center;
}
.mhb-col {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    -ms-flex: 0 0 calc(100% / 3);
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);


}
.cat-mhb-box{
    font-family: 'Crimson Text', serif !important;
    font-size: 36px;
    font-weight: normal;
    width: 100%;
    background-color: #feddef;
    height: 100px;
    margin-bottom: 20px;
    min-height: 150px;
    letter-spacing: -0.87px;
    font-style: italic;
    text-align: center;
    display: block;
    color: #2b3c4d;


}
.cat-mhb-box span{
    margin-top: 25px;
}
.cat-mhb-box_1{
    background-color: #ffd0e0;
}
.cat-mhb-box_2{
    background-color: #ffb5cd;
}
.cat-mhb-box_3{
    background-color: #ffa1c0;
}
.cat-mhb-box_4{
    background-color: #ffd9dd;
}
.cat-mhb-box_5{
    background-color: #ffbfc3;
}
.cat-mhb-box_6{
    background-color: #ffa7ab;
}
.cat-mhb-box_7{
    background-color: #ffc8b8;
}

.m-icon{
    background: url('img/sprites.png');
    display: block;
    margin: 0 auto;
}
.ico-world{
    width: 55px; height: 55px;
    background-position: -10px -154px;
}
.ico-edit{
    width: 51px; height: 47px;
    background-position: -85px -154px;
}
.ico-tip{
    width: 54px; height: 58px;
    background-position:  -189px -10px;
}
.ico-partner{
    width: 62px; height: 51px;
    background-position: -10px -83px;
}
.ico-speaker{
    width: 65px; height: 50px;
    background-position:  -104px -10px;
}
.ico-book{
    width: 54px; height: 49px;
    background-position: -92px -83px;
}
.ico-heart{
    width: 74px; height: 53px;
    background-position: -10px -10px;
}

#mbh-footer .mbh-footer-top,
#mbh-footer .mbh-footer-center,
#mbh-footer .mbh-footer-bottom
{
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    border-top: solid 0.5px #a5abb7;
}
#mbh-footer .mbh-footer-top .mbh-footer-top-col{
    margin-top: 31px;
    float: left;
}
#mbh-footer .mbh-footer-top .mbh-footer-top-col:nth-child(1),
#mbh-footer .mbh-footer-top .mbh-footer-top-col:nth-child(2){
    width: 45%;
}
#mbh-footer .mbh-footer-top .mbh-footer-top-col:nth-child(3){
    width: 10%;
}
#mbh-footer .mbh-footer-top .mbh-footer-top-col h3 {
    margin: 0 0 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.48px;
    color: #000000;
}
#mbh-footer .mbh-footer-top .mbh-footer-top-col ul > li:before{
    content: "";
    width: 0;
    margin: unset;
}

#mbh-footer .mbh-footer-top .mbh-footer-top-col ul > li > a{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #000000;
}
#mbh-footer .mbh-footer-center{
    padding: 30px 0px;
}
#mbh-footer .mbh-footer-center span.footer-center-title{
    width: 221px;
    height: 24px;
    margin: 42px 111px 43px 0;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.48px;
    color: #000000;
}
#mbh-footer .mbh-footer-center a.google,
#mbh-footer .mbh-footer-center a.ios{
    width: 170px;
    height: 50px;
    margin: 0 30px 0 0;
}
#mbh-footer .mbh-footer-center a.google{
    margin: 0 0 0 30px;
}
#mbh-footer .mbh-footer-center a.google img,
#mbh-footer .mbh-footer-center a.ios img {
    object-fit: contain;
}
#mbh-footer .mbh-footer-bottom{
    padding: 31px 0 93px 0;
}
#mbh-footer .mbh-footer-bottom span.mbh-copy-right{
    width: 70%;
    display: inline;
    float: left;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    color: #000000;
 }
#mbh-footer .mbh-footer-bottom .footer-bottom-link{
    width: 30px;
    height: 30px;
    margin: 0 15px 0 0;
    text-decoration: none;
}

#mbh-footer .mbh-footer-bottom .footer-bottom-link > img{
    object-fit: contain;
}


.cmsmasters_img_wrap a{
    display: block;
}
.cmsmasters_img_wrap img{
    max-width: 376px;
    width: 100%;
}
.cmsmasters_post_default.cmsmasters_side_type .cmsmasters_post_image_wrapper{
    width: 40%;
}
.cmsmasters_post_default {
    padding: 70px 0 0;
}
.cmsmasters_post_default.cmsmasters_side_type .cmsmasters_post_image_wrapper + .cmsmasters_post_inner{
    width: 60%;
    padding-left: 40px;
    margin-left: 0;
    vertical-align: top;
}
.mhb-border{
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd0e0+0,ffb5cd+47,ffa1c0+100 */
    /*background: #ffd0e0; !* Old browsers *!*/
    /*background: -moz-linear-gradient(left,  #ffd0e0 0%, #ffb5cd 47%, #ffa1c0 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left,  #ffd0e0 0%,#ffb5cd 47%,#ffa1c0 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right,  #ffd0e0 0%,#ffb5cd 47%,#ffa1c0 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd0e0', endColorstr='#ffa1c0',GradientType=1 ); !* IE6-9 *!*/
    background: #ffe2eb;
}
.cmsmasters_post_default .cmsmasters_post_header .cmsmasters_post_title{
    margin-bottom: 30px;
}
.cmsmasters_post_footer.entry-meta{
    height: 34px;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.cmsmasters_post_read_more{
    border-radius: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff689a+0,ffa7ab+37,ffa7ab+37,ffbfc3+60,ffbfc3+71,ffc8b8+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff689a+0,ffa7ab+37,ffa7ab+37,ffc8b8+78 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff689a+0,ff9b9e+37,ffa78e+78 */
    /*background: #ff689a; !* Old browsers *!
    background: -moz-linear-gradient(left,  #ff689a 0%, #ff9b9e 37%, #ffa78e 78%); !* FF3.6-15 *!
    background: -webkit-linear-gradient(left,  #ff689a 0%,#ff9b9e 37%,#ffa78e 78%); !* Chrome10-25,Safari5.1-6 *!
    background: linear-gradient(to right,  #ff689a 0%,#ff9b9e 37%,#ffa78e 78%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff689a', endColorstr='#ffa78e',GradientType=1 ); !* IE6-9 *!*/


    color: #fff !important;
    text-transform: uppercase;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 60px 5px 20px;
}
.cmsmasters_post_default .cmsmasters_post_footer .cmsmasters_post_read_more{
    font-family:'Futura PT Book';
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    text-decoration: none;
    position: relative;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff62a5+0,ff8960+75 */
    background: #ff62a5; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff62a5 0%, #ff8960 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff62a5 0%,#ff8960 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff62a5 0%,#ff8960 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff62a5', endColorstr='#ff8960',GradientType=1 ); /* IE6-9 */
}
.cmsmasters_post_default .cmsmasters_post_footer .cmsmasters_post_read_more:after{
    content: '\e95c';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 20px;
}
.cmsmasters_post_default .cmsmasters_post_title a{
    font-family: 'Crimson Text', serif !important;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #2b3c4d;
}
.cmsmasters_post_default .cmsmasters_post_content p{
    font-family:'Futura PT Book';
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    color: #516375;
}
#cmsmasters_row_46351931b1{
    background-size: 100% 100%;
}
.cmsmasters_wrap_items_loader::before{
    content: unset;
}
.cmsmasters_wrap_items_loader{
    margin-top: 70px;
}
.cmsmasters_wrap_items_loader .cmsmasters_items_loader{
    border: solid 3px #ffe2eb;
    height: 50px;
    display: -ms-flex;
    display: flex;
    font-family:'Futura PT Book';
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    align-items: center;
    justify-content: center;
    color: #2b3c4d;
}
.cmsmasters_content_slider_item{
    /*width: 50% !important;*/
}
.mhb-full-width .cmsmasters_row_inner{
    max-width: 1480px;
}
.mhb-slider{
    display: -ms-flex;
    display: flex;
    padding: 0 !important;
}
.mhb-slider__item{
    padding-left: 5px;
    padding-right: 5px;
}

.modal-backdrop {
    display: none;
}

/*signupnModal style*/
.signupModal {
    background-color:rgba(0,0,0,0.65);
}
.signupModal .modal-dialog {
    max-width: 100%;
}
@media (min-width: 768px) {
    .signupModal .modal-dialog {
        max-width: 700px;
    }
}
.signupModal .modal-content {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: unset;
}
.signupModal .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: #000;
    opacity: 1;
}
@media (min-width: 576px) {
    .signupModal .close {
        top: -44px;
        right: -20px;
        font-size: 60px;
        color: #fff;
    }
}
.signupModal .close:hover {
    background: transparent;
}
.signupModal .close span {
    line-height: 1;
}
.signupModal .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    outline: none;
}
.signupModal .modal-body {
    background-color: #ffffff;
    border-radius: 35px;
    text-align: center;
    position: relative;
    padding: 50px 15px 60px 15px;
    overflow: hidden;
}
@media (min-width: 480px) {
    .signupModal .modal-body {
        padding: 50px 30px 60px 30px;
    }
}
@media (min-width: 576px) {
    .signupModal .modal-body {
        padding: 80px 60px 80px 60px;
    }
}
.signupModal .modal-body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("theme-framework/theme-style/img/signup.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.signupModal .modal-body-wrap {
    position: relative;
    z-index: 2;
}
.signupModal .modal-title {
    margin: 0 0 20px;
    font-family: Nunito;
    font-size: 21px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #fff;
    text-align: center;
    text-transform: none;
}
@media (min-width: 768px) {
    .signupModal .modal-title {
        margin-bottom: 40px;
    }
}
.signupModal .text {
    font-family: Nunito;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.07px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .signupModal .text {
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .signupModal .text {
        margin-bottom: 60px;
    }
}
@media (min-width: 1200px) {
    .signupModal .text {
        margin-bottom: 100px;
    }
}
.signupModal .text p {
    padding: 0;
    margin: 0;
}
.signupModal .signup-form {
    max-width: 350px;
    margin: 0 auto;
}
.signupModal .signup-form .form-control {
    padding: 14px 14px 14px 20px !important;
    border-radius: 5px !important;
    color: #fff !important;
    background: rgba(255,255,255,0.5) !important;
    border: none !important;
    font-family: Nunito !important;
    font-size: 15px !important;
    line-height: 19px !important;
    font-weight: normal !important;
    height: 48px !important;
    letter-spacing: 0.09px !important;
}
.signupModal .signup-form .form-control:hover {
    box-shadow: none;
}
.signupModal .signup-form .form-control::placeholder {
    font-family: Nunito;
    color: #fff;
}
.signupModal .signup-form .btn {
    font-family: Nunito;
    color: #fff;
    background: linear-gradient(265deg, #ff62a5 0%, #ff8960 100%);
    padding: 14px 122px 14px 123px;
    border-radius: 5px;
    width: 100%;
    text-transform: none;
}
.signupModal .signup-form .btn:focus {
    box-shadow: none;
    outline: none;
}

/*subsctiptionModal style*/
.subscriptionModal {
    background-color:rgba(0,0,0,0.65);
}
.subscriptionModal .modal-dialog {
    max-width: 100%;
}
@media (min-width: 576px) {
    .subscriptionModal .modal-dialog {
        max-width: 524px;
    }
}
.subscriptionModal .modal-content {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: unset;
}
.subscriptionModal .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: #000;
    opacity: 1;
}
@media (min-width: 576px) {
    .subscriptionModal .close {
        top: -44px;
        right: -20px;
        font-size: 60px;
        color: #fff;
    }
}
.subscriptionModal .close:hover {
    background: transparent;
}
.subscriptionModal .close span {
    line-height: 1;
}
.subscriptionModal .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
    outline: none;
}
.subscriptionModal .modal-body {
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    position: relative;
    padding: 50px 15px 79px 15px;
    overflow: hidden;
}
@media (min-width: 480px) {
    .subscriptionModal .modal-body {
        padding: 50px 30px 79px 30px;
    }
}
@media (min-width: 576px) {
    .subscriptionModal .modal-body {
        padding: 80px 60px 109px 60px;
    }
}
.subscriptionModal .modal-body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("theme-framework/theme-style/img/subscription.png") no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.subscriptionModal .modal-body-wrap {
    position: relative;
    z-index: 2;
}
.subscriptionModal .modal-title {
    margin: 0 0 20px;
    font-family: Nunito;
    font-size: 21px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;
    text-align: center;
    text-transform: none;
}
.subscriptionModal .text {
    font-family: Nunito;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.07px;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    .subscriptionModal .text {
        margin-bottom: 40px;
    }
}
.subscriptionModal .text p {
    padding: 0;
    margin: 0;
}
.subscriptionModal .subscription-form .form-control {
    padding: 14px 14px 14px 20px;
    border-radius: 5px;
    color: #bcb7b7;
    background-color: #ffffff;
    border: none;
    font-family: Nunito !important;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    height: 48px;
    letter-spacing: 0.09px;
}
.subscriptionModal .subscription-form .form-control:hover {
    box-shadow: none;
}
.subscriptionModal .subscription-form .form-control::placeholder {
    font-family: Nunito;
    color: #bcb7b7;
}
.subscriptionModal .subscription-form .custom-control {
    margin-bottom: 30px;
}
.subscriptionModal .subscription-form .custom-control-label {
    color: #707070;
    font-family: Nunito;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: 0.06px;
}
.subscriptionModal .subscription-form .custom-control-label::before {
    top: 0;
    left: -24px;
}
.subscriptionModal .subscription-form .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #707070;
}
.subscriptionModal .subscription-form .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.subscriptionModal .subscription-form .custom-control-label::after {
    top: 0;
    left: -24px;
}
.subscriptionModal .subscription-form .custom-control-label a {
    font-size: 10px;
    line-height: 14px;
    text-decoration: underline;
}
.subscriptionModal .subscription-form  .btn {
    font-family: Nunito;
    color: #fff;
    background: linear-gradient(265deg, #ff62a5 0%, #ff8960 100%);
    padding: 14px 122px 14px 123px;
    border-radius: 5px;
    width: 100%;
    text-transform: none;
}
.subscriptionModal .subscription-form  .btn:focus {
    box-shadow: none;
    outline: none;
}

/*single-post style*/
.single-post .fullwidth {
    width: 100%;
    padding: 0;
}
.single-post .middle_content {
    padding-top: 50px;
}
@media(min-width: 768px) {
    .single-post .middle_content {
        padding-top: 70px;
    }
}
@media(min-width: 992px) {
    .single-post .middle_content {
        padding-top: 80px;
    }
}
@media(min-width: 1200px) {
    .single-post .middle_content {
        padding-top: 120px;
    }
}
.single-post .cmsmasters_post_header {
    padding: 0;
}
.single-post .cmsmasters_post_header .cmsmasters_post_title  {
    color: #2b3c4d;
    font-family: CrimsonText;
    font-size: 30px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: -0.25px;
    margin: 0 auto 20px;
    max-width: 780px;
    text-align: center;
}
@media(min-width: 768px) {
    .single-post .cmsmasters_post_header .cmsmasters_post_title {
        padding: 0 20px;
        font-size: 50px;
        line-height: 64px;
    }
}
@media(min-width: 1200px) {
    .single-post .cmsmasters_post_header .cmsmasters_post_title {
        font-size: 60px;
        line-height: 74px;
        margin-bottom: 50px;
    }
}
.single-post .cmsmasters_post_cont_info {
    margin-bottom: 30px;
    padding: 0
}
@media(min-width: 768px) {
    .single-post .cmsmasters_post_cont_info {
        margin-bottom: 50px;
    }
}
@media(min-width: 1200px) {
    .single-post .cmsmasters_post_cont_info {
        margin-bottom: 80px;
    }
}
.single-post .cmsmasters_post_cont_info .cmsmasters_post_date {
    color: #516375;
    font-family: Futura PT Book;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 3.2px;
    text-align: center;
}
.single-post .cmsmasters_post_cont_info .cmsmasters_post_date abbr[title] {
    text-decoration: none;
}
.single-post .cmsmasters_post_cont_info .cmsmasters_post_author {
    color: #516375;
    font-family: Futura PT Book;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 3.2px;
    text-align: center;
}
.single-post .cmsmasters_post_cont_info .cmsmasters_post_author .author {
    color: #516375;
    font-family: Futura PT Book;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 3.2px;
    text-align: center;
    text-decoration: none;
}
.single-post .mbh-full-width {
    margin-bottom: 30px;
    padding: 0;
}
.single-post .mbh-full-width img {
    width: 100%;
    max-width: 100%;
    max-height: 900px;
}
.single-post .cmsmasters_row_inner {
    max-width: 780px;
}
.single-post .mbh-single-post-content {
    padding: 0 20px;
}
.single-post .mbh-single-post-content .main-image-slogan {
    font-family: Futura PT Book;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    color: #516375;
    display: block;
    margin-bottom: 30px;
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content .main-image-slogan {
        margin-bottom: 40px;
        font-size: 18px;
    }
}
@media(min-width: 1200px) {
    .single-post .mbh-single-post-content .main-image-slogan {
        margin-bottom: 50px;
    }
}
.single-post .mbh-single-post-content p {
    color: #516375;
    font-family: Futura PT Book;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    letter-spacing: 0.01px;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content p {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 30px;
    }
}
@media(min-width: 1200px) {
    .single-post .mbh-single-post-content p {
        margin-bottom: 50px;
        font-size: 22px;
        line-height: 1.45;
    }
}
.single-post .mbh-single-post-content p:first-child::first-letter {
    color: #516375;
    font-family: Futura PT Book;
    font-size: 52px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.03px;
    float: left;
    padding-right: 5px;
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content p:first-child::first-letter {
        font-size: 62px;
    }
}
@media(min-width: 1200px) {
    .single-post .mbh-single-post-content p:first-child::first-letter {
        font-size: 72px;
        padding-right: 15px;
    }
}
.single-post .mbh-single-post-content .image-slogan {
    font-family: Futura PT Book;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.01px;
    text-align: center;
    color: #516375;
    display: block;
    margin-bottom: 30px;
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content .image-slogan {
        margin-bottom: 50px;
        font-size: 18px;
    }
}
@media(min-width: 1200px) {
    .single-post .mbh-single-post-content .image-slogan {
        margin-bottom: 70px;
    }
}
.single-post .mbh-single-post-content h2 {
    font-family: Futura PT Book;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: 0.02px;
    color: #2b3c4d;
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
}
@media(min-width: 480px) {
    .single-post .mbh-single-post-content h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content h2 {
        font-size: 42px;
        margin-bottom: 50px;
    }
}
.single-post .mbh-single-post-content h2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 46px;
    background: #2b3c4d;
}
@media(min-width: 480px) {
    .single-post .mbh-single-post-content h2::after {
        height: 66px;
    }
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content h2::after {
        height: 86px;
    }
}
.single-post .mbh-single-post-content h2 .quote {
    font-family: Futura PT Book;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 0.04px;
}
@media(min-width: 480px) {
    .single-post .mbh-single-post-content h2 .quote {
        font-size: 70px;
    }
}
@media(min-width: 768px) {
    .single-post .mbh-single-post-content h2 .quote {
        font-size: 90px;
    }
}
.single-post .mbh-featured-box-posts {
    /*padding: 80px 0 100px;*/
    background-color: #fbfbfb;
    /*margin-bottom: 50px;*/
}
.single-post .mbh-featured-box-posts .mhb-subheading {
    font-family: Futura PT Book;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.11px;
    text-align: center;
    color: #516375;
}
.single-post .mbh-featured-box-posts .mhb-subheading:first-letter {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}
.single-post .mbh-featured-box-posts .cmsmasters_row_inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}
.single-post .mbh-featured-box-posts .cmsmasters_post_default .entry-title {
    font-family: CrimsonText;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #2b3c4d;
    text-align: left;
    padding: 0;
}
.single-post .mbh-featured-box-posts .cmsmasters_post_default .entry-title a {
    font-family: CrimsonText;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #2b3c4d;
}
.single-post .mbh-popular-box-posts {
    /*padding: 80px 0 103px;*/
    background-color: #fbfbfb;
}
.single-post .mbh-popular-box-posts .mhb-subheading {
    font-family: Futura PT Book;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.11px;
    text-align: center;
    color: #516375;
}
.single-post .mbh-popular-box-posts .mhb-subheading:first-letter {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}
.single-post .mbh-popular-box-posts .cmsmasters_row_inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}
.single-post .mbh-popular-box-posts figure {
    min-height: 308px;
}
.single-post .blog.columns .post .entry-title {
    font-family: CrimsonText;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #2b3c4d;
    text-align: left;
    min-height: 96px;
    margin-bottom: 20px;
}
.single-post .blog.columns .post .entry-title a {
    font-family: CrimsonText;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #2b3c4d;
    text-align: left;
    text-decoration: none;
}
.single-post .blog.columns .post .entry-content {
    display: none;
}
.single-post .blog.columns .post .cmsmasters_post_read_more {
    font-family: 'Futura PT Book';
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    text-decoration: none;
    position: relative;
    background: #ff62a5;
    background: linear-gradient(to right, #ff62a5 0%,#ff8960 75%);
}
.single-post .blog.columns .post .cmsmasters_post_read_more:after {
    content: '\e95c';
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 20px;
}
.single-post .cmsmasters_post_footer.entry-meta {
    height: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 20px;
}
@media(min-width: 480px) {
    .single-post .cmsmasters_post_footer.entry-meta {
        padding: 30px 20px;
    }
}
@media(min-width: 992px) {
    .single-post .cmsmasters_post_footer.entry-meta {
        padding: 40px 20px;
    }
}
.single-post .cmsmasters_post_tags {
    display: flex;
    flex-flow: row wrap;
}
.single-post .cmsmasters_post_tags a {
    margin: 0 10px 10px 0;
    padding: 10px 20px 9px;
    background-color: rgba(255, 221, 221, 0.72);
    font-family: Futura PT Book;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    color: #ff689a;
    text-decoration: none;
}
.single-post .post_comments {
    max-width: 980px;
    margin: 0 auto 35px;
    padding: 0 20px;
    overflow: inherit;
}
.single-post .comment-respond {
    max-width: 980px;
    margin: 0 auto;
    /*padding: 0 20px;*/
    overflow: inherit;
}
.single-post .comment-respond:before, .single-post .comment-respond:after {
    display: none;
}
.single-post .comment-respond .comment-reply-title {
    display: none;
}
.single-post .comment-form .comments_info {
    font-family: CrimsonText;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #516375;
    text-transform: uppercase;
}
.single-post .comment-form {
    position: relative;
}
.single-post .comment-form .comment-form-comment textarea {
    border-color: #b6b6c3;
    padding: 11px 20px;
    resize: none;
    height: 200px;
}
.single-post .comment-form .comment-form-comment textarea::placeholder {
    font-family: Futura PT Book;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #b6b6c3;
}
.single-post .comment-form .form-submit {
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
.single-post .comment-form .form-submit input[type="submit"] {
    font-family: Futura PT Book;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
    text-align: justify;
    padding: 12px 20px;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(to right, #ff62a5 0%,#ff8960 75%);
}
.single-post .comment-form .comment-notes, .single-post .comment-form .comment-form-author, .single-post .comment-form .comment-form-email, .single-post .comment-form .comment-form-cookies-consent {
    display: none;
}
.single-post #mbh-footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}
.single-post #mbh-footer .mbh-footer-bottom span.mbh-copy-right {
    width: 65%;
}

.page #page.personal-improvement #header .logo_wrap .logo_retina,
.page #page.mbh-news #header .logo_wrap .logo_retina,
.page #page.guardian #header .logo_wrap .logo_retina,
.page #page.compatibility-test #header .logo_wrap .logo_retina,
.page #page.lifestyle #header .logo_wrap .logo_retina,
.page #page.successful-stories #header .logo_wrap .logo_retina,
.page #page.islam-marriage #header .logo_wrap .logo_retina,
.page #page.security #header .logo_wrap .logo_retina,
.page #page.safety-tips #header .logo_wrap .logo_retina,
.page #page.cookie-policy #header .logo_wrap .logo_retina,
.page #page.contact #header .logo_wrap .logo_retina,
.page #page.jobs #header .logo_wrap .logo_retina,
.page #page.privacy-policy #header .logo_wrap .logo_retina,
.single-post #page #header .logo_wrap .logo_retina{
    display: none;
}
.page #page.personal-improvement .cmsmasters_theme_icon_resp_nav,
.page #page.mbh-news .cmsmasters_theme_icon_resp_nav,
.page #page.guardian .cmsmasters_theme_icon_resp_nav,
.page #page.compatibility-test .cmsmasters_theme_icon_resp_nav,
.page #page.lifestyle .cmsmasters_theme_icon_resp_nav,
.page #page.successful-stories .cmsmasters_theme_icon_resp_nav,
.page #page.islam-marriage .cmsmasters_theme_icon_resp_nav,
.page #page.security .cmsmasters_theme_icon_resp_nav,
.page #page.safety-tips .cmsmasters_theme_icon_resp_nav,
.page #page.cookie-policy .cmsmasters_theme_icon_resp_nav,
.page #page.contact .cmsmasters_theme_icon_resp_nav,
.page #page.jobs .cmsmasters_theme_icon_resp_nav,
.page #page.privacy-policy .cmsmasters_theme_icon_resp_nav,
.single-post #page .cmsmasters_theme_icon_resp_nav{
    background-image: url("img/inner-icon-menu.png");
}
.mbh-jobs,
.mbh-privacy-policy{
    font-family: Futura PT Book;
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.mbh-jobs-title {
    width: 663px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.21px;
    color: #2b3c4d;
    text-align: center;
    margin: 80px auto;
}

.mbh-jobs-data-wrap {
    font-size: 20px;
    height: 283px;
    padding: 74px 0px 74px 88px;
    border: solid 5px #2b3c4d;
}
.mbh-jobs-data{
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.mbh-jobs-data-title{
    float: left;
    width: 30%;
}
.mbh-jobs-data-summary{
    float: left;
    width:70% ;
    border-left: 5px solid;
    border-color: darkgray;
    padding-left: 30px;
}

.mbh-join-team{
    text-align: center;
    height: 19px;
    margin: 102px 0 0;
}
.mbh-join-team a:hover{
    text-decoration: none;
}
.mbh-join-team a span{
    color: #ff689a;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
}
.single-post .cmsmasters_post_content{
    margin: 0 auto;
    /*max-width: 780px;*/
    /*width: 100%;*/
}
.mbh-contact-wrap{
    margin-top: 60px;
}

.mbh-contact-wrap h2{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.21px;
    color: #2b3c4d;
}

.mbh-contact-wrap h3{

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.87px;
    color: #2b3c4d;
    margin-top: 60px;
}

.mbh-contact-wrap p{
    margin: 20px 0 0 6px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    color: #2b3c4d;
}
.mbh-contact-wrap p a:hover,
.mbh-contact-wrap p a{
    font-size: 16px;
    font-weight: 600;
    color: #ff689a;
}

.detail-page-cat-section .cat-mhb-box{
    min-height: 40px;
    height: initial;
    font-size: 18px;
    padding: 7px;
}
.detail-page-cat-section .mhb-col{
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
}
.detail-page-cat-section .cat-icon-left{
    margin-right: 5px;
    margin-bottom: 5px;
}
.detail-page-cat-section .cat-mhb-box_1{
    background-color: #ffe2db;
}
.detail-page-cat-section .cat-mhb-box_2{
    background-color: #ffe1dc;
}
.detail-page-cat-section .cat-mhb-box_3{
    background-color: #ffdedc;
}
.detail-page-cat-section .cat-mhb-box_4{
    background-color: #ffdadd;
}
.detail-page-cat-section .cat-mhb-box_5{
    background-color: #ffd7de;
}
.detail-page-cat-section .cat-mhb-box_6{
    background-color: #ffd3de;
}
.detail-page-cat-section .cat-mhb-box_7{
    background-color: #ffd0df;
}
.detail-page-cat-section .mhb-row{
    justify-content: flex-start;
}

.share-box {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: right;
}
.share-box p, .share-box span {
    display: inline-block;
    position: relative;
    line-height: 50px;
}
.share-box .share {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    transition: .3s ease-in-out;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
    padding: 0;
    text-align: center;
    line-height: 70px;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    transform: scale(.857);
    margin: 0;
    text-decoration: none;
}
/*.facebook.share{
    background: #4c66a4;
}
.twitter.share{
    background: #2fc2ef;
}
.linkedin.share{
    background: #0073b2;
}
.pinterest.share{
    background: #d5393a;
}*/
.share-box .share i {
    font-size: 40px;
    color: #fff;
    line-height: 70px;
    vertical-align: top;
}
.share-box .share i::before {
    color: #ff7f6f;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin:before {
    content: "\e901";
}
.icon-pinterest:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e903";
}

