/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


@media only screen {
/*-------------------------------------------------------------------------*/
/* Large Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_large {
	ul.order_details {
		li {
			padding:15px 30px;
			
			strong {
				margin:15px -30px -15px;
				padding:15px 30px;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Medium Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_medium {
	.cmsmasters_products {
		outline:none;
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet {
	.cmsmasters_products.columns-6 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(6n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-5 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(5n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-4 .product {
		width:round((100% / 2) - (@col_mar * 2), 2);
		
		&:nth-child(4n+1) {
			clear:none;
		}
		
		&:nth-child(2n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_dynamic_cart_wrap {
		.dn;
	}
	
	.cmsmasters_dynamic_cart_link_wrap {
		display:block;
	}
	
	ul.order_details {
		.flex_wrap(wrap);
		
		li {
			width:50%;
			
			&:nth-child(5) {
				width:100%;
			}
		}
	}
	
	.widget_price_filter {
		.price_slider_amount {
			padding:10px 0 0;
			
			.button {
				-moz-transform:translate(0, 100%);
				-ms-transform:translate(0, 100%);
				-webkit-transform: translate(0, 100%);
				-o-transform:translate(0, 100%);
				transform:translate(0, 100%);
				float:none;
			}
			
			.price_label {
				-moz-transform:translate(0, -100%);
				-ms-transform:translate(0, -100%);
				-webkit-transform: translate(0, -100%);
				-o-transform:translate(0, -100%);
				transform:translate(0, -100%);
			}
		}
	}
}


/*-------------------------------------------------------------------------*/
/* Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_950 {
	.widget_shopping_cart {
		.cart_list {
			li {
				clear:both;
				.fl;
			}
		}
		
		.buttons {
			.button {
				width:auto;
				padding:0 20px;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_small {
	.col2-set {
		> * {
			width:100%;
			margin-bottom:40px;
			float:none;
			.cl;
			
			&:last-child {
				margin-bottom:0;
			}
		}
	}
	
	.cart_totals {
		width:100%;
	}
	
	#page.enable_header_centered .header_mid {
		.cmsmasters_dynamic_cart_link_wrap {
			height:auto;
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_left_column {
			width:100%;
			max-width:350px;
			float:none;
			padding:0 0 40px;
			margin:0 auto;
		}
		
		.cmsmasters_product_right_column {
			width:100%;
			float:none;
			padding:0;
			
			.product_meta, 
			.woocommerce-product-details__short-description,
			.cmsmasters_product_content {
				.tac;
			}
			
			.cmsmasters_star_rating {
				margin:5px auto 0;
			}
		}
	}
	
	.shop_table.cart {
		display:block;
		.tac;
		.ovh;
		
		tbody, 
		tr, 
		th, 
		td {
			display:block;
			.tac;
			.ovh;
		}
		
		thead {
			.dn;
		}
		
		.cart_item {
			padding:20px 0;
			position:relative;
			.bdb;
			
			&:first-child {
				.bdt;
			}
		}
		
		td {
			padding:15px;
			.bd(0);
		}
		
		.product-remove {
			padding:0;
			position:absolute;
			left:auto;
			right:0;
			top:5px;
			z-index:1;
		}
		
		.product-thumbnail {
			width:auto;
			padding-left:0;
			padding-right:0;
			.tac;
		}
		
		.product-price, 
		.product-quantity, 
		.product-subtotal {
			display:inline-block;
			width:33.33%;
			margin:0 -2px;
			vertical-align:middle;
		}
		
		.product-price {
			.tar;
		}
		
		.product-quantity {
			padding-left:0;
			padding-right:0;
		}
		
		.product-subtotal {
			.tal;
		}
		
		.actions {
			.tac;
			
			.coupon {
				padding:0 0 20px;
				float:none;
				.tac;
			}
			
			.input-text {
				display:block;
				margin:0 auto 10px;
			}
		}
	}
	
	.shop_table.woocommerce-checkout-review-order-table, 
	.shop_table.order_details {
		th, 
		td {
			padding:10px 15px;
		}
	}
	
	.cart_totals {
		table {
			width:100%;
		}
	}
	
	#order_review_heading, 
	.woocommerce-checkout-review-order {
		width:99.99%;
	}
	
	ul.order_details {
		li {
			padding:10px 15px;
			position:relative;
			.fl;
			.ovh;
			
			&:before {
				content:none;
			}
			
			strong {
				display:block;
				margin:10px -15px -10px;
				padding:10px 15px;
				.bd;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_600 {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-3 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-4 .product, 
	.cmsmasters_products.columns-3 .product, 
	.cmsmasters_products.columns-2 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
	
	.form-row {
		width:round(100% - ((@col_mar + 1.7) * 2), 2);
		float:none;
		.cl;
	}
	
	.woocommerce-message, 
	.woocommerce-info {
		.tac;
	
		.button {
			display:block;
			margin-right:0;
			margin-bottom:10px;
			.tac;
		}
	}
	
	table.variations {
		select {
			display:block;
		}
		
		.reset_variations {
			display:inline-block;
			margin:10px 0 0;
		}
	}
	
	.cmsmasters_woo_wrap_result {
		.woocommerce-result-count {
			padding:0 10px 20px;
			float:none;
			.tac;
		}
		
		.woocommerce-ordering {
			float:none;
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_thumbs {
			.cmsmasters_product_thumb {
				width:60px;
			}
		}
		
		.cmsmasters_product_info_wrap {
			float:none;
			padding:0 0 30px;
			.tal;
		}
		
		.price {
			.tal;
		}
		
		.cmsmasters_star_rating {
			float:none;
		}
	}
	
	.woocommerce-checkout-payment {
		padding:20px 15px;
		
		.place-order {
			.terms {
				display:block;
				padding:15px 0 0;
			}
		}
	}
	
	ul.order_details {
		li {
			width:100%;
			float:none;
		}
	}
}
}

