/**
 * @package 	WordPress
 * @subpackage 	Blogosphere
 * @version 	1.0.4
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";

@preloader_product_page_pad: 100%;


/*-------------------------------------------------------------------------*/
/* Global Styles
/*-------------------------------------------------------------------------*/

/* Icons */
#page {
	.cmsmasters_theme_icon_basket:before { 
		content: '\e839'; 
		font-family:fontello-custom;
	}
}

.cmsmasters_theme_icon_star_empty:before { content: '\e8aa'; }
.cmsmasters_theme_icon_star_full:before { content: '\e8aa'; }


.woocommerce:after {
	.cl_after;
}

.woocommerce-page .content_wrap.fullwidth {
	padding-top:0;
	padding-bottom:40px;
}

.woocommerce-store-notice {
	display:block;
	width:100%;
	margin:0;
	padding:10px 50px 10px 20px;
	position:fixed;
	left:0;
	bottom:0;
	z-index:99999;
	
	p {
		margin:0;
		padding:0;
		
		a {
			.op(.8);
			
			&:hover {
				.op(1);
			}
		}
	}
	
	.woocommerce-store-notice__dismiss-link {
		font-size:13px;
		line-height:1em;
		width:20px;
		height:20px;
		margin:auto;
		position:absolute;
		left:auto;
		right:20px;
		top:0;
		bottom:0;
		
		&:before {
			.pos_abs;
		}
		
		&:hover {
			.op(.8);
		}
	}
}

.product .preloader {
	padding-bottom:@preloader_product_page_pad;
	
	img {
		width:100%;
		min-width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
}


/* Star Rating */
.cmsmasters_star_rating {
	width:110px;
	height:22px;
	display:block;
	position:relative;
	.ovh;
	
	.cmsmasters_star {
		font-size:16px;
		width:22px;
		height:100%;
		display:block;
		margin-left:0;
		margin-right:0;
		position:relative;
		.ovh;
		.fl;
		
		&:before {
			.pos_abs;
		}
	}
	
	.cmsmasters_star_trans_wrap {
		height:100%;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_star_color_wrap {
		height:100%;
		position:absolute;
		left:0;
		top:0;
		.ovh;
	}
	
	.cmsmasters_star_color_inner {
		width:110px;
		height:100%;
		position:relative;
		.ovh;
	}
}

.comment-form-rating {
	position:relative;
	.ovh;
	
	> .stars, 
	> label {	
		display:inline-block;
		vertical-align:middle;
		padding:0;
	}
	
	.stars {
		margin:0 0 0 10px;
	
		> span {
			display:block;
			width:65px;
			height:14px;
			position:relative;
			.ovh;
			
			&:before, 
			a:before {
				font-family:"fontello";
				line-height:1em;
				font-style:normal;
				font-weight:normal;
				text-decoration:inherit;
				text-align:center;
				vertical-align:baseline;
				font-variant:normal;
				text-transform:none;
				speak:none;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				
				font-size:14px;
				text-indent:0;
				display:block;
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
			}
			
			&:before {
				content:'\e8aa\e8aa\e8aa\e8aa\e8aa';
			}
			
			a:before {
				content:'\e8aa\e8aa\e8aa\e8aa\e8aa';
			}
		
			a {
				color:transparent;
				text-indent:9999px;
				height:100%;
				display:block;
				position:absolute;
				left:0;
				top:0;
				.ovh;
			
				&.star-1 {
					width:13px;
					z-index:10;
				}
				
				&.star-2 {
					width:26px;
					z-index:9;
				}
				
				&.star-3 {
					width:39px;
					z-index:8;
				}
				
				&.star-4 {
					width:52px;
					z-index:7;
				}
				
				&.star-5 {
					width:65px;
					z-index:6;
				}
			}
		}
	}
}


/* Sale */
.onsale, 
.out-of-stock, 
.stock {
	position:absolute;
	top:10px;
	left:10px;
	display:inline-block;
	padding:6px 20px;
	z-index:10;
	.ovh;
}

.out-of-stock {
	left:auto;
	right:10px;
}

.outofstock .onsale {
	.dn;
}


/* checkbox and radio */
label {
	> .input-checkbox, 
	> .input-radio, 
	> input.shipping_method {
		float:none;
		width:auto;
		height:auto;
		position:relative;
		left:auto;
		top:auto;
		bottom:1px;
		display:inline-block;
		vertical-align:middle;
		.op(1);
	}
}

.input-checkbox, 
.input-radio, 
input.shipping_method:not([type=hidden]) {
	.fl;
	.op(0);
	.pos_abs(1em, 1em, 0, auto);

	+ label {
		display:inline-block;
		padding:0 0 0 25px;
		position:relative;
		cursor:pointer;
		
		&:before {
			content:'';
			.bd;
			.pos_abs(15px, 15px, 1px, auto);
		}
		
		&:after {
			content:'';
			-webkit-transform:scale(0);
			-moz-transform:scale(0);
			transform:scale(0);
			.pos_abs(7px, 7px, 5px, auto);
			.op(0);
		}
	}
	
	&:checked {
		+ label {
			&:after {
				-webkit-transform:scale(1);
				-moz-transform:scale(1);
				transform:scale(1);
				.op(1);
			}
		}
	}
}

label.checkbox {
	display:inline-block;
	padding:0;
	
	+ input {
		visibility:visible;
		.op(1);
	}
}

.input-radio, 
input.shipping_method {
	+ label {
		&:before, 
		&:after {
			.bdrs(50%);
		}
	}
}


/* Shipping */
#shipping_method {
	padding:0;
	margin:0;
	
	li {
		&:first-child {
			padding:0;
		}
	
		padding:5px 0 0;
		.ovh;
		
		&:before {
			content:none;
		}
	}
	
	+ p {
		padding:20px 0 0;
	}
}

.woocommerce-column__title {
	.tac;
}

.woocommerce-customer-details {
	padding:55px 0 0;
	
	table {
		margin:0 0 40px;
		.bdt;
		
		th,
		td {
			padding:18px 30px;
		}
	}
	
	h2 {
		margin:0 0 25px;
		.tac;
	}
	
	.woocommerce-columns--addresses {
		margin:25px 0 0;
	}
}

.woocommerce-message, 
.woocommerce-info, 
.woocommerce-error {
	padding:25px;
	margin:0 0 20px;
	position:relative;
	.bd;
	.tal;
	.ovh;
	.cl;
	
	.button {
		margin-right:30px;
	}
}

.woocommerce-notice {
	padding:0 0 15px;
	.tac;
}

.woocommerce-info {
	padding:25px;
	margin:0 0 20px;
	.bd;
	.tal;
}

.woocommerce-error {
	li {
		padding:0;
		margin:0;
		
		&:before {
			content:none;
		}
	}
}


/* Quantity */
.quantity {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	margin:0;
	.ovh;
	
	.screen-reader-text {
		display:none;
	}
	
	.text {
		display:block;
		width:72px;
		min-width:0;
	}
}


/* Variation */
table.variations {
	tr {
		.bd(0);
		
		td {
			padding:5px 0 0;
			.bd(0);
		}
		
		&:first-child {
			td {
				padding:0;
			}
		}
	}
	
	.reset_variations {
		margin-left:10px;
		margin-right:0;
	}
}

.single_variation_wrap {
	.woocommerce-variation-description {
		border:0 !important;
		margin:20px 0 0;
		
		> *:last-child {
			margin:0;
			padding:0;
		}
	}
	
	.single_variation {
		margin:20px 0 0;
		.ovh;
		
		.stock {
			display:inline-block !important;
			margin:0 0 0 10px;
			vertical-align:middle;
			position:static;
		}
	}
	
	.variations_button {
		margin:20px 0 0;
		.ovh;
	}
}

dl.variation {
	display:block;
	padding:0;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	dt,
	dd, 
	p {
		display:block;
		margin:0;
		padding:0;
		.ovh;
	}
	
	dt {
		padding-left:0;
		padding-right:10px;
		float:left;
		clear:left;
	}
	
	dd {
		float:left;
	}
}


/* Col2-set */
.col2-set {
	margin:0 -@col_mar 30px;
	position:relative;
	.ovh;

	> * {
		width:round((100% / 2) - ((@col_mar - 1.2) * 2), 2);
		margin:0 (@col_mar - 1.2);
		position:relative;
		.fl;
		.ovh;
	}
}


/* Form Row Styles */
.form-row {
	width:round((100% / 2) - ((@col_mar + 1.7) * 2), 2);
	margin:0 (@col_mar + 1.7);
	position:relative;
	.fl;
	
	&:after {
		.cl_after;
	}
	
	&.form-row-wide, 
	&.notes, 
	&.place-order {
		width:round(100% - ((@col_mar + 1.7) * 2), 2);
		float:none;
		.cl;
	}
	
	&.place-order {
		width:auto;
		margin:0;
	}
	
	label {
		display:block;
		padding:0 0 10px;
	}
	
	select, 
	input, 
	textarea {
		width:100%;
		max-width:100%;
	}
	
	textarea {
		min-height:200px;
	}
	
	input[type="checkbox"], 
	input[type="radio"], 
	input[type="submit"], 
	input[type="button"] {
		width:auto;
	}
}


/* Amount Styles */
.amount {
	white-space:nowrap;
	
	span {
		display:inline-block;
	}
}


/* Remove Button Styles */
#page .remove {
	font-size:16px;
	line-height:26px;
	font-weight:100;
	text-indent:1px;
	display:inline-block;
	width:26px;
	height:26px;
	margin:0 1px;
	.tac;
}



/*-------------------------------------------------------------------------*/
/* Shop Page
/*-------------------------------------------------------------------------*/

.cmsmasters_woo_wrap_result {
	padding:0 0 10px;
	position:relative;
	.ovh;
	.cl;
	
	select {
		width:100%;
		max-width:100%;
	}
	
	.woocommerce-result-count {
		padding:0;
		line-height:54px;
		.fr;
	}
	
	.woocommerce-ordering {
		.fl;
	}
}

.cmsmasters_products {
	margin:0 -@col_mar 0;
	padding:0;
	overflow:hidden;
	position:relative;
	
	.product {
		width:round((100% / 4) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		padding:35px 0 0;
		position:relative;
		word-wrap:break-word;
		.ovh;
		.fl;
		
		&:before {
			content:none;
		}
		
		&.product-category {
			.tac;
			
			.woocommerce-loop-category__title {
				display:inline-block;
				margin:15px 0 0;
				
				mark {
					background:inherit;
				}
			}
		}
		
		.columns-6& {
			width:round((100% / 6) - (@col_mar * 2.1), 2);
			
			&:nth-child(6n+1) {
				clear:left;
			}
		}
		
		.columns-5& {
			width:round((100% / 5) - (@col_mar * 2), 2);
			
			&:nth-child(5n+1) {
				clear:left;
			}
		}
		
		.columns-4& {
			width:round((100% / 4) - (@col_mar * 2), 2);
			
			&:nth-child(4n+1) {
				clear:left;
			}
		}
		
		.columns-3& {
			width:round((100% / 3) - (@col_mar * 2), 2);
			
			&:nth-child(3n+1) {
				clear:left;
			}
		}
		
		.columns-2& {
			width:round((100% / 2) - (@col_mar * 2), 2);
			
			&:nth-child(2n+1) {
				clear:left;
			}
		}
		
		.columns-1& {
			width:round(100% - (@col_mar * 2), 2);
			float:none;
			.cl;
		}
	}
}

.cmsmasters_product {
	margin:0;
	padding:0;
	position:relative;
	.ovh;
	
	> * {
		.tac;
	}
	
	.cmsmasters_product_img {
		position:relative;
		.ovh;
		
		img {
			width:100%;
		}
		
		&:hover, 
		&.cmsmasters_mobile_hover {
			.cmsmasters_product_add_wrap {
				.op(1);
			}
		}
	}
	
	.cmsmasters_product_add_wrap {
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		.tac;
		.op(0);
		
		&:after {
			.valign_after;
		}
	}
	
	.cmsmasters_product_add_inner {
		display:inline-block;
		vertical-align:middle;
	}
	
	.button {
		display:block;
		margin:0;
		
		&:last-child {
			margin:0;
		}
		
		&.added_to_cart {
			.dn;
		}
		
		&.added {
			.dn;
			
			+ .added_to_cart {
				display:block;
			}
		}
		
		&.loading {
			text-indent:-9999px;
			
			&:before {
				content:'\e9fd';
				font-family:"fontello";
				font-style:normal;
				font-weight:normal;
				speak:none;
				display:inline-block;
				text-decoration:inherit;
				width:1em;
				text-align:center;
				vertical-align:baseline;
				font-variant:normal;
				text-transform:none;
				line-height:1em;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				-webkit-animation:spin 2s infinite linear;
				-moz-animation:spin 2s infinite linear;
				animation:spin 2s infinite linear;
				
				font-size:16px;
				text-indent:0;
				.pos_abs;
			}
		}
	}
	
	.cmsmasters_product_inner {
		padding:0;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_product_header {
		padding:0 0 20px;
	}
	
	.cmsmasters_product_title {
		margin:0;
	}
	
	.cmsmasters_product_cat {
		padding:0 0 8px;
		.tac;
		.ovh;
	}
	
	.cmsmasters_product_info {
		padding:0;
		.ovh;
		.tac;
	}
	
	.cmsmasters_star_rating {
		padding:0;
		margin:15px auto 0 auto;
		.ovh;
	}
	
	.price {
		position:relative;
		padding:10px 0 0;
		display:inline-block;
		
		del {
			margin:0 5px 0 0;
			vertical-align:middle;
			white-space:nowrap;
		}
		
		ins {
			text-decoration:none;
			vertical-align:middle;
			white-space:nowrap;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Single Product
/*-------------------------------------------------------------------------*/

.cmsmasters_single_product {
	margin:0;
	padding:0;
	position:relative;
	.ovh;
	
	.onsale, 
	.out-of-stock {
		left:10px;
		right:auto;
		top:10px;
		bottom:auto;
		margin:0;
		position:absolute;
	}
	
	.cmsmasters_product_left_column {
		width:34%;
		position:relative;
		.fl;
		.ovh;
	}
	
	.cmsmasters_product_images {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_product_image {
		display:block;
		max-width:100%;
		position:relative;
		.tac;
		
		img {
			width:100%;
			height:auto;
			max-width:100%;
		}
	}
	
	.cmsmasters_product_thumbs {
		display:block;
		position:relative;
		.ovh;
		
		.cmsmasters_product_thumb {
			display:block;
			width:95px;
			margin:10px 10px 0 0;
			position:relative;
			.tac;
			.fl;
			
			&:last-child {
				margin:10px 0 0;
			}
			
			img {
				.bdrs;
			}
		}
	}
	
	.cmsmasters_product_right_column {
		width:66%;
		padding:0 0 0 65px;
		position:relative;
		.fr;
		.ovh;
		
		.out-of-stock {
			.dn;
		}
	}
	
	.price {
		margin:15px 0 0;
		padding:0;
		direction:rtl;
		
		del {
			direction:ltr;
			display:inline-block;
			margin:0 0 0 15px;
			vertical-align:middle;
			
			.woocommerce-Price-amount {
				vertical-align:middle;
			}
		}
		
		ins {
			direction:ltr;
			display:inline-block;
			text-decoration:none;
			vertical-align:middle;
		}
	}
	
	.cmsmasters_star_rating {
		margin:5px 0 0;
	}
	
	.product_title {
		margin:0;
	}
	
	.woocommerce-product-details__short-description {
		margin:30px 0 0;
		
		> p {
			&:last-child {
				padding:0;
			}
		}
	}
	
	.quantity {
		.text {
			width:81px;
		}
	}

	.product_meta {
		padding:15px 0 0;
		position:relative;
		.ovh;
		
		> span {
			display:block;
			padding:5px 0 0;
		}
		
		.tagged_as {
			margin:0 -10px;
			
			a {
				margin:0 10px;
				
				&:before {
					content:'#';
				}
			}
		}
	}
	
	.cmsmasters_product_content {
		padding:0;
		position:relative;
		.ovh;
	}
	
	.cart {
		padding:30px 0 0;
		position:relative;
		.ovh;
		
		.single_add_to_cart_button {
			vertical-align:middle;
			line-height:54px;
			margin:0 0 0 13px;
			padding:0 40px;
		}

		.group_table tbody {
			tr,
			td {
				.bd(0);
			}
		}
	}
}

.cmsmasters_woo_tabs {
	padding:75px 0 0;
	.ovh;
	
	.cmsmasters_tab_inner {
		> h2 {
			.dn;
		}
	}
}

.shop_attributes {
	tr {
		.bdl(0);
		.bdr(0);
		
		&:last-child {
			.bdb(0);
		}
	}

	th {
		width:255px;
		padding:5px 10px 5px 0;
	}
	
	td {
		padding:5px 0;
	}
	
	p {
		margin:0;
		padding:0;
	}
}

.cmsmasters_woo_comments {
	margin:0;
	padding:0;
	
	.cmsmasters_star_rating {
		margin:0 0 0 10px;
		width:75px;
		height:18px;
		.fr;
		
		.cmsmasters_star_color_inner {
			width:75px;
		}
		
		.cmsmasters_star {
			font-size:12px;
			width:15px;
		}
	}
	
	.star-rating {
		.dn;
	}
	
	.cmsmasters_comment_item_date {
		display:block;
		.ovh;
	}
}

section.products {
	margin:0;
	padding:55px 0 0;
	position:relative;
	.ovh;
	
	.cmsmasters_product_title_wrapper {
		position:relative;
		display:block;
		.tac;
		
		&:before {
			content:'';
			height:1px;
			position:absolute;
			left:0;
			right:0;
			top:50%;
		}
	
		h2 {
			position:relative;
			display:inline-block;
			margin:0;
			padding:5px 25px;
		}
	}
}

.page-description {
	margin:0 -@col_mar;
}



/*-------------------------------------------------------------------------*/
/* Cart
/*-------------------------------------------------------------------------*/

.shop_table {
	width:100%;
	padding:0 0 60px;
	position:relative;
	
	#page & {
		.remove {
			font-size:18px;
		}
	}
	
	thead, 
	tr {
		width:100%;
		position:relative;
		.ovh;
		.bdb;
		.bdl;
		.bdr;
	}
	
	th, 
	td {
		padding:19px 0;
		vertical-align:middle;
		position:relative;
		.tal;
		.ovh;
		
		.woocommerce-checkout-review-order-table&, 
		.order_details& {
			padding:18px 30px;
		}
	}
	
	td {
		padding:15px 0;
	}
	
	&.order_details td {
		&.woocommerce-table__product-name {
			ul {
				padding:5px 0 0;
				
				&:last-child {
					margin:0;
				}
			}
			
			li {
				padding:0;
				
				&:before {
					content:none;
				}
				
				> strong,
				> p {
					display:inline-block;
					vertical-align:middle;
					
					&:last-child {
						padding-bottom:0;
					}
				}
				
				> strong {
					padding:0 10px 0 0;
					clear:left;
				}
			}
		}
	}
	
	.product-remove {
		width:30px;
		padding-left:20px;
		padding-right:10px;
	}
	
	.product-thumbnail {
		width:80px;
		padding-left:0;
		padding-right:20px;
		
		img {
			width:50px;
			height:auto;
		}
	}
	
	.product-name {
		outline:none;
	}
	
	.product-price {
		outline:none;
	}
	
	.amount {
		outline:none;
	}
	
	.product-quantity {
		input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
			padding:0 10px 0 15px;
			height:46px;
		}
	}
	
	.actions {
		padding:15px 30px;
		.tar;
	
		input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
			padding:0 10px 0 15px;
			height:46px;
		}
		
		.coupon {
			position:relative;
			.fl;
			.ovh;
			
			input {
				display:inline-block;
				vertical-align:bottom;
			}
			
			.button {
				margin:0 0 0 -3px;
			}
			
			label {
				.dn;
			}
		}
			
		.button {
			line-height:46px;
			padding:0 35px;
		}
		
		.input-text {
			width:260px;
			margin:0;
		}
	}
}

.cross-sells {
	margin:35px 0 50px 0;
	
	h2 {
		margin-bottom:0;
	}
}

.cart_totals {
	position:relative;
	width:50%;
	margin:0 auto;
	padding:65px 0 0;
	.ovh;
	
	> h2 {
		position:relative;
		margin:0 0 30px;
	}
	
	table {
		width:100%;
		position:relative;
		
		tr {
			width:100%;
			position:relative;
			.ovh;
		}
		
		th, 
		td {
			padding:17px 30px;
			vertical-align:top;
			position:relative;
			.tal;
			.ovh;
		}
		
		.shipping  {
			th, 
			td {
				padding:25px 30px;
			}
		}
		
		th {
			width:43%;
		}
		
		td {
			width:57%;
			.tar;
		}
		
		input[type="checkbox"], 
		input[type="radio"] {
			left:auto;
			right:0;
			.fr;
		
			+ label {
				padding-left:0;
				padding-right:25px;
				.fr;
				
				&:before {
					left:auto;
					right:0;
				}
			}
		}
		
		input[type="checkbox"] {
			+ label {
				&:after {
					left:auto;
					right:3px;
				}
			}
		}
		
		input[type="radio"] {
			+ label {
				&:after {
					left:auto;
					right:4px;
				}
			}
		}
	}
}

.woocommerce-shipping-calculator {
	padding:20px 0 0;
	position:relative;
	.ovh;
	
	> p {
		margin:0;
		padding:0;
	}
}

.shipping-calculator-form {
	margin:10px -@col_mar 0;
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin:0 @col_mar;
		.cl;
	}
	
	> p {
		padding:0 0 13px;
		
		&:last-of-type{
			padding:0;
		}
		
		button {
			padding:0;
			margin:7px 0 0;
			background:none;
			
			&:hover {
				background:none;
			}
		}
	}
}

.wc-proceed-to-checkout {
	padding:20px 0 0;
	position:relative;
	.ovh;
	
	.wcppec-checkout-buttons {
		display:inline-block;
		margin:0;
		
		.wcppec-checkout-buttons__separator {
			display:inline-block;
			margin:0 30px;
		}
		
		.wcppec-checkout-buttons__button {
			margin:0;
			padding:0;
			
			img {
				display:none;
			}
			
			&:before {
				content:'\ebba';
				font-family:fontello;
			}
			
			&:after {
				content:'Check out with PayPal';
				display:inline-block;
				margin-left:2px;
			}
		}
	}
}

.woocommerce-MyAccount-navigation {
	margin:0 0 20px;
	
	ul {
		.tal;
		
		> li {
			display:inline-block;
			margin:0 35px 0 0;
			
			&:last-child {
				margin:0;
			}
		}
	}
}

.woocommerce-MyAccount-content {
	.shop_table th, 
	.shop_table td {
		.tac;
	}
	
	.woocommerce-Addresses {
		margin:0;
		
		.woocommerce-Address {
			margin:20px 0 0;
		}
		
		.woocommerce-Address-title {
			margin:0 0 5px;
		}
		
		h3 {
			margin:0 0 15px;
		}
	}
	
	.woocommerce-Button {
		margin:0 @col_mar + 0.2;
	}
	
	form {
		margin:0 -(@col_mar + 0.2) 30px;
		
		.form-row {
			margin:0 (@col_mar + 0.2);
		}
		
		.form-row {
			width:round((100% / 2) - ((@col_mar + 0.2) * 2), 2);
		}
		
		.form-row-wide {
			width:round(100% - ((@col_mar + 0.2) * 2), 2);
		}
		
		.clear {
			.dn;
		}
	}
	
	legend {
		margin:0 auto;
		padding:10px 20px 20px 20px;
	}
	
	fieldset {
		margin:0;
		padding:0;
	}
	
	> p {
		padding:0;
	}
}



/*-------------------------------------------------------------------------*/
/* Checkout
/*-------------------------------------------------------------------------*/

.checkout_coupon {
	margin:0 -(@col_mar + 0.2) 30px;
	position:relative;
	.ovh;
	
	p:not([class]) {
		width:round((100%) - (@col_mar * 2), 2);
		margin:0 @col_mar;
	}
	
	input,
	button[type=submit] {
		width:100%;
		max-width:100%;
		line-height:@input_height;
		height:@input_height;
	}
	
	.form-row {
		width:round((100% / 2) - ((@col_mar + 0.2) * 2), 2);
		margin:0 (@col_mar + 0.2);
	}
}

#order_review_heading {
	width:48.5%;
	.tac;
}

.woocommerce-order-details__title {
	margin:0 0 25px;
	.tac;
}

.woocommerce-checkout-review-order {
	width:48.5%;
}

body .select2-container {
	.select2-choice, 
	&.select2-drop-above .select2-choice {
		padding:0 @input_pad;
		.bd(0);
	}
}

body {
	.select2-container {
		padding-right:1px;
		
		&.select2-container--open,
		&.select2-container--focus {
			.select2-selection--single {
				.bdrs(0);
			}
		}
		
		.select2-selection--single {
			height:54px;
			padding:0 50px 0 @input_pad;
			background-image:url('../../../../img/select.png');
			background-position:100% center;
			background-repeat:no-repeat;
			.bdrs(0);
			
			.select2-selection__arrow {
				.dn;
			}
			
			.select2-selection__rendered {
				line-height:54px;
				padding:0;
			}
		}
	}
	
	.select2-dropdown {
		.bdrs(0);
		
		.select2-results {
			.select2-results__option {
				padding:6px 6px 6px @input_pad;
				
				&:first-child {
					padding:6px 6px 6px @input_pad;
				}
				
				&:before {
					content:none;
				}
			}
		}
	}
}

body .select2-drop.select2-drop-active, 
body .select2-drop.select2-drop-above.select2-drop-active {
	.bd(0);
}

.checkout {
	position:relative;
	padding:35px 0;
	.ovh;
}

.woocommerce-additional-fields, 
.woocommerce-billing-fields, 
.woocommerce-shipping-fields {
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> h3 {
		margin:0 @col_mar 30px;
		position:relative;
		.ovh;
		.tac;
	}
	
	.shipping_address {
		.ovh;
	}
}

#page {
	.woocommerce-terms-and-conditions {
		width:100%;
		
		.cmsmasters_row_inner {
			width:100%;
			padding:0 @blocks_hor_pad;
		}
	}
}

.woocommerce-checkout-payment {
	padding:25px;
	margin:40px 0 0;
	position:relative;
	.ovh;
	.bd;
	
	.payment_methods {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			position:relative;
			padding:10px 0 0;
			.ovh;
			
			&:first-child {
				padding:0;
			}
		
			&:before {
				content:none;
			}
			
			&.woocommerce-notice {
				margin:0;
				padding:10px;
			}
		}
		
		label {
			display:inline-block;
			float:none;
			
			img {
				.dn;
			}
		}
		
		.payment_box {
			padding:0 0 0 32px;
			position:relative;
			.cl;
			
			p {
				margin:0;
				padding:0;
			}
		}
		
		.input-checkbox + label, 
		.input-radio + label, 
		input.shipping_method + label {
			padding:0 0 0 32px;
		}
	}

	.woocommerce-terms-and-conditions-wrapper {
		padding:20px 0 0;
		position:relative;
		.ovh;
		
		> * {
			display:inline-block;
			float:none;
			vertical-align:middle;
		}
		
		.form-row {
			width:auto;
			display:block;
			padding:0;
			margin:0 0 20px;
			direction:rtl;
			.ovh;
			
			> * {
				direction:ltr;
			}
			
			label {
				display:inline-block;
				vertical-align:middle;
				padding:0 0 0 2px;
				
				span {
					display:inline-block;
					vertical-align:middle;
				}
			}
			
			.input-checkbox {
				margin:0 7px 0 0 !important;
			}
		}
	}
}

.woocommerce-password-strength {
	padding:20px 0 0;
}



/*-------------------------------------------------------------------------*/
/* Order
/*-------------------------------------------------------------------------*/

ul.order_details {
	list-style:none;
	margin:0 0 55px;
	padding:0;
	position:relative;
	.display_flex;
	.ovh;
	
	li {
		width:100%;
		margin:0;
		padding:10px 15px;
		position:relative;
		.ovh;
		.tac;
		
		&:first-child {
			strong {
				.bdl;
			}
		}
		
		&:last-child {
			strong {
				.bdr;
			}
		}
		
		&:before {
			content:none;
		}
		
		strong {
			display:block;
			margin:10px -15px -10px;
			padding:10px 15px;
			.bdb;
		}
	}
}

.woocommerce-page.woocommerce-order-received .woocommerce > h2 {
	padding-top:30px;
}



/*-------------------------------------------------------------------------*/
/* Dynamic Cart
/*-------------------------------------------------------------------------*/
.cmsmasters_dynamic_cart_link_wrap {
	height:100%;
	margin:0 0 0 18px;
	position:relative;
	.dn;
	.fr;
	
	&:after {
		.valign_after;
	}
	
	.cmsmasters_header_cart_link {
		font-size:17px;
		line-height:17px;
		height:33px;
		display:inline-block;
		vertical-align:middle;
		word-wrap:break-word;
		
		&:before {
			width:28px;
			display:inline-block;
			vertical-align:middle;
		}
		
		&:after {
			.valign_after;
		}
	}
}

.cmsmasters_dynamic_cart_wrap {
	height:100%;
	margin:0 0 0 18px;
	position:relative;
	.fr;
	
	&:after {
		.valign_after;
	}
}

.woocommerce-mini-cart__empty-message {
	padding:0 20px;
}

.cmsmasters_dynamic_cart {
	display:inline-block;
	margin:0;
	vertical-align:middle;
	position:relative;
	word-wrap:break-word;
	
	.remove {
		#page & {
			position:absolute;
			left:auto;
			right:0;
			top:50%;
			margin-top:-13px;
		}
	}
	
	.cmsmasters_dynamic_cart_button {
		font-size:17px;
		line-height:17px;
		display:inline-block;
		vertical-align:middle;
		height:28px;
		
		&:after {
			.valign_after;
		}
		
		&:before {
			width:28px;
			display:inline-block;
			vertical-align:middle;
		}
	}
	
	.widget_shopping_cart_content {
		width:315px;
		padding:30px 15px 30px 30px;
		margin:40px 0 0;
		visibility:hidden;
		position:absolute;
		left:auto;
		right:0;
		top:100%;
		z-index:1000;
		.bdrs;
		.op(0) !important;
		
		&:before {
			content:'';
			display:block;
			width:100%;
			height:18px;
			position:absolute;
			left:0;
			top:-18px;
		}
		
		.cart_list {
			list-style:none;
			max-height:395px;
			margin:0;
			padding:0;
			overflow-x:hidden;
			overflow-y:auto;
			
			li {
				min-height:75px;
				margin:20px 0 0;
				padding:5px 35px 5px 95px;
				position:relative;
				.ovh;
				
				&:before {
					content:none;
				}
				
				&:first-child {
					margin:0;
				}
				
				&.empty {
					min-height:1px;
					padding:5px 35px;
				}
			}
			
			a {
				display:block;
			}
			
			img {
				image-rendering:auto;
				.pos_abs(75px, 75px, 0, auto, 0, auto);
			}
			
			.quantity {
				margin:5px 0 0;
				direction:rtl;
				
				* {
					display:inline-block;
					direction:ltr;
				}
				
				.amount {
					white-space:nowrap;
				}
			}
		}
		
		.total {
			padding:22px 0 0;
			position:relative;
			.ovh;
			
			strong {
				outline:none;
			}
		}
		
		.buttons {
			margin:0 -1%;
			padding:15px 0 0 0;
			position:relative;
			.ovh;
			
			.button {
				width:46%;
				margin:0 1%;
				padding:0 18px;
				.fl;
			}
			
			.wcppec-cart-widget-button {
				height:auto;
				width:100%;
				text-align:center;
				margin-top:5px;
			}
		}
	}
	
	&:hover .widget_shopping_cart_content, 
	.cmsmasters_dynamic_cart_button:hover + .widget_shopping_cart_content, 
	.widget_shopping_cart_content:hover {
		visibility:visible;
		margin-top:18px;
		.op(1) !important;
	}
}


.cmsmasters_added_product_info {
	width:315px;
	margin:40px 0 0;
	padding:30px;
	visibility:hidden;
	position:absolute;
	left:auto;
	right:0;
	top:100%;
	z-index:1001;
	.ovh;
	.op(0);
	
	.cmsmasters_added_product_info_img {
		width:75px;
		height:75px;
		.fl;
	}
	
	.cmsmasters_added_product_info_text {
		display:block;
		padding:15px 0 15px 20px;
		.ovh;
	}
}



/*-------------------------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------------------------*/

.widget.woocommerce > form {
	overflow:visible;
	
	> * {
		overflow:visible;
	}
}


/***************** Widget Product Search ******************/
.widget_product_search {
	position:relative;
}


/***************** Widget Lists ******************/
.widget_layered_nav, 
.widget_rating_filter, 
.widget_layered_nav_filters, 
.widget_product_categories {
	ul {
		margin:0;
		padding:0;
		
		ul {
			margin:0 0 -4px;
			padding:4px 0 0 10px;
		}
		
		li {
			margin:0;
			padding:4px 0;
			
			&:before {
				content:none;
			}
			
			a {
				outline:none;
			}
		}
	}
}


/***************** Widget Product List ******************/
.widget {
	> .product_list_widget {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			min-height:75px;
			margin:20px 0 0;
			padding:5px 5px 5px 95px;
			position:relative;
			.ovh;
			
			&:before {
				content:none;
			}
			
			&:first-child {
				margin:0;
			}
		}
		
		.cmsmasters_star_rating {
			margin:0;
			width:75px;
			height:18px;
			
			.cmsmasters_star_color_inner {
				width:75px;
			}
			
			.cmsmasters_star {
				font-size:12px;
				width:15px;
			}
		}
		
		a {
			display:block;
			margin:0 0 5px;
		}
		
		img {
			.pos_abs(75px, 75px, 0, auto, 0, auto);
			image-rendering:auto;
		}
		
		.star-rating {
			.dn;
		}
		
		ins {
			text-decoration:none;
		}
		
		del {
			margin:0 3px 0 0;
		}
	}
}


/***************** Widget Shopping Cart ******************/
.widget_shopping_cart {
	position:relative;
	word-wrap:break-word;
	.ovh;
	
	.remove {
		#page & {
			position:absolute;
			left:auto;
			right:0;
			top:50%;
			margin-top:-13px;
		}
	}
	
	.widget_shopping_cart_content {
		position:relative;
		.ovh;
	}
	
	.cart_list {
		list-style:none;
		margin:0;
		padding:0; 
		.ovh;
		
		li {
			min-height:75px;
			margin:20px 0 0;
			padding:5px 35px 5px 95px;
			position:relative;
			.ovh;
			
			&:before {
				content:none;
			}
				
			&:first-child {
				margin:0;
			}
			
			&.empty {
				min-height:1px;
				padding:5px 35px;
			}
		}
		
		a {
			display:block;
		}
		
		img {
			image-rendering:auto;
			.pos_abs(75px, 75px, 0, auto, 0, auto);
		}
		
		.quantity {
			margin:5px 0 0;
			direction:rtl;
			
			* {
				display:inline-block;
				direction:ltr;
			}
			
			.amount {
				white-space:nowrap;
			}
		}
	}
	
	.total {
		padding:22px 0 0;
		position:relative;
		.ovh;
		
		strong {
			outline:none;
		}
	}
	
	.buttons {
		margin:0 -1%;
		padding:15px 0 0 0;
		position:relative;
		.ovh;
		
		.button {
			width:46%;
			margin:0 1%;
			padding:0 10px;
			.fl;
		}
	}
}

.widget_price_filter {
	.price_slider_wrapper {
		position:relative;
		.ovh;
	}
	
	.price_slider {
		height:2px;
		margin:0 0 10px;
		position:relative;
	}
	
	.ui-slider-range {
		height:100%;
		position:absolute;
		top:0;
	}
	
	.ui-slider-handle {
		display:block;
		width:11px;
		height:11px;
		cursor:pointer;
		position:absolute;
		left:0;
		right:auto;
		top:-5px;
		z-index:100;
		.bdrs(50%);
		
		&:last-child {
			left:100%;
			margin-left:-11px;
			margin-right:0;
		}
	}
	
	.price_slider_amount {
		padding:20px 0 0;
		position:relative;
		.ovh;
		
		.button {
			.fr;
		}
		
		.price_label {
			display:block;
			padding:9px 10px 9px 0;
			.ovh;
		}
	}
}


/***************** Widget Tag Cloud ******************/
.widget_product_tag_cloud {
	position:relative;
	.ovh;
	
	a {
		line-height:1em;
		display:inline-block;
		margin:0 4px 0 0;
		
		&:last-child {
			margin:0;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------------------------*/

.cmsmasters_products_shortcode, 
.cmsmasters_selected_products_shortcode {
	position:relative;
	.ovh;
}


/*	Other Shortcodes */

.create-account {
	.input-radio + label, 
	.input-checkbox + label {
		padding:0 0 0 25px;
	}
}

#customer_login {
	h2 {
		margin:0 0 25px;
		.tac;
	}
}

.login, 
.register {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	label.inline {
		display:inline-block;
		padding:0;
		margin-left:10px;
		margin-right:0;
		
		input {
			vertical-align:middle;
			margin-top:-2px;
		}
	}
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
	
	.lost_password {
		.cl;
	}
}

.track_order {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> * {
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
}



/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.woocommerce-store-notice a {
		.trans(~'opacity .3s ease-in-out');
	}
	
	.cmsmasters_products .product.product-category .woocommerce-loop-category__title, 
	.cmsmasters_star_rating .cmsmasters_star {
		.trans(color .3s ease-in-out);
	}
	
	body .select2-container .select2-selection--single {
		.trans(~'border-color .3s ease-in-out, color .3s ease-in-out');
	}
	
	.cmsmasters_product .button,
	.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
		.trans(~'background-color .3s ease-in-out, color .3s ease-in-out');
	}
	
	.cmsmasters_product .cmsmasters_product_img img {
		.trans(~'filter .3s ease-in-out, -webkit-filter .3s ease-in-out');
	}
	
	.cmsmasters_product .cmsmasters_product_add_wrap {
		.trans(~'opacity .4s ease-in-out');
	}
	
	.cmsmasters_dynamic_cart .widget_shopping_cart_content {
		.trans(~'opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out');
	}
	
	.shipping_method + label:after, 
	.input-radio + label:after, 
	.input-checkbox + label:after {
		.trans(all .3s ease-in-out);
	}
}

